force-app/main/default/flows/Bulk_Adding_Risk_into_Risk_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_User</name>
        <label>Assign User</label>
        <locationX>880</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>programmeReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register.Programme__r.Programme_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_already_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Counter_And_Set_New_Risk_Values</name>
        <label>Increase Counter And Set New Risk Values</label>
        <locationX>310</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>CountRiskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Identification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Identification_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Potential_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Potential_Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeProgrammeLocationRiskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Copied_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Nature_of_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Nature_of_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Programme_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register.Programme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Risk_Register__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Risk_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Risk_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Impact_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Impact_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Catalogue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Safety and Security Risks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Description_Language_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Description_Language_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Description_Language_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Description_Language_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Description_Language_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Name_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Name_Language_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Name_Language_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Name_Language_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Name_Language_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Name_Language_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Risk_Into_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Risk_Into_Collection</name>
        <label>Set New Risk Into Collection</label>
        <locationX>120</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>newRiskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetValuesToNewRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Risk_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Risk_Register_Values</name>
        <label>Sdt Risk Register Value</label>
        <locationX>168</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Register.InsertedByBulk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Register</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SystemAdmin_to_Programme_Review_Email</name>
        <label>Set SystemAdmin  to Programme Review Email</label>
        <locationX>735</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>programmeReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_already_added</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_already_added</name>
        <label>Is already added?</label>
        <locationX>1125</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Get_RecordTypeId_For_Catalogue_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Register.InsertedByBulk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Safety_and_Security_Risks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Programme_Reviewer_assigned</name>
        <label>Is Programme Reviewer assigned?</label>
        <locationX>573</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Error_Programme_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Register.Programme__r.Programme_Risk_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Risk_Register.Programme__r.Programme_Risk_Reviewer__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User</targetReference>
            </connector>
            <label>Yes, is assigned</label>
        </rules>
        <rules>
            <name>Is_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SystemAdmin_to_Programme_Review_Email</targetReference>
            </connector>
            <label>Is System Administrator</label>
        </rules>
    </decisions>
    <description>Automation for bulk-adding all Safety &amp; Security Risks to a Programme’s Risk Register</description>
    <environments>Default</environments>
    <interviewLabel>Bulk Adding Risk into Risk Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add All Security Risks</label>
    <loops>
        <name>Count_Risk_Records</name>
        <label>Count Risk Records</label>
        <locationX>494</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_All_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Counter_And_Set_New_Risk_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Adding_all_Safety_Security_Risks_to_a_Programme_s_Risk_Register</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Risk_Records</name>
        <label>Create Risk Records</label>
        <locationX>504</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newRiskRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Risks</name>
        <label>Get All Risks</label>
        <locationX>688</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Risk_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCatalogueRiskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Catalogue_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Safety and Security Risks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId_For_Catalogue_Risk</name>
        <label>Get RecordTypeId For Catalogue Risk</label>
        <locationX>899</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeId_For_Programme_Location_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catalogue_Risk</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeCatalogueRiskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId_For_Programme_Location_Risk</name>
        <label>Get RecordTypeId For Programme Location Risk</label>
        <locationX>901</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programme_Location_Risk</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeProgrammeLocationRiskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Register</name>
        <label>Get Risk Register</label>
        <locationX>440</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Programme_Reviewer_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Register</name>
        <label>Update Risk Register</label>
        <locationX>503</locationX>
        <locationY>825</locationY>
        <connector>
            <targetReference>Create_Risk_Records</targetReference>
        </connector>
        <inputReference>Get_Risk_Register</inputReference>
    </recordUpdates>
    <screens>
        <name>Bulk_Adding_all_Safety_Security_Risks_to_a_Programme_s_Risk_Register</name>
        <label>Bulk Adding all Safety &amp; Security Risks to a Programme’s Risk Register</label>
        <locationX>168</locationX>
        <locationY>647</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Risk_Register_Values</targetReference>
        </connector>
        <fields>
            <name>Message_To_Continue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;You are about to copy &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!CountRiskRecords}&lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt; Risks from the Catalogue to this &lt;/span&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;. Click Next to proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Programme_Review</name>
        <label>Error Programme Review</label>
        <locationX>1155</locationX>
        <locationY>40</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>extra_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(8, 7, 7); font-family: &amp;quot;Salesforce Sans&amp;quot;;&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_Assigned_Programme_Review</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;There is no &lt;/span&gt;Programme &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Reviewer assigned to this Programme or you are not the &lt;/span&gt;Programme&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; Reviewer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>700</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>702</locationX>
        <locationY>654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 14.6667px;&quot;&gt;Risks successfully added to the &lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Safety_and_Security_Risks</name>
        <label>Warning Safety and Security Risks</label>
        <locationX>1150</locationX>
        <locationY>452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>warning_message</name>
            <fieldText>&lt;p&gt;All Security Risks were added before.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Risk_Register</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>error_text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;font-size: 14px; color: white; background-color: red; font-weight: bold; width: 100%; text-align: center; border-radius: 5px !important; &quot;&gt;Unsufficient Rights to Edit&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountRiskRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newRiskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>programmeReviewer_CurrentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCatalogueRiskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeProgrammeLocationRiskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetValuesToNewRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
</Flow>
