force-app/main/default/flows/Bulk_Update_Risk_Values_on_Risk_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Increase_Counter_And_Set_New_Risk_Values</name>
        <label>Increase Counter And Set New Risk Values</label>
        <locationX>240</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>CountRiskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Identification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Identification_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Potential_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Potential_Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeProgrammeLocationRiskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Copied_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Nature_of_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Nature_of_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Programme_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register.Programme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Risk_Register__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.ampi__Risk_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.ampi__Risk_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Risk_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Risk_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.Impact_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Risk_Records.Impact_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetValuesToNewRisk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Risk_Into_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RisksList</name>
        <label>RisksList</label>
        <locationX>901</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>RisksListIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_risk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Risk_Into_Collection</name>
        <label>Set New Risk Into Collection</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>newRiskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetValuesToNewRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Risk_Records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Bulk Update Risk Values on Risk Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Update Risk Values on Risk Review</label>
    <loops>
        <name>Count_Risk_Records</name>
        <label>Count Risk Records</label>
        <locationX>424</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_All_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Counter_And_Set_New_Risk_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Adding_all_Safety_Security_Risks_to_a_Programme_s_Risk_Register</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_risk</name>
        <label>For each risk</label>
        <locationX>642</locationX>
        <locationY>204</locationY>
        <collectionReference>Get_All_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RisksList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Risk_Records</name>
        <label>Create Risk Records</label>
        <locationX>434</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newRiskRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Risks</name>
        <label>Get All Risks</label>
        <locationX>644</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Risk_Register__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Register</name>
        <label>Get Risk Register</label>
        <locationX>65</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Bulk_Adding_all_Safety_Security_Risks_to_a_Programme_s_Risk_Register</name>
        <label>Bulk Adding all Safety &amp; Security Risks to a Programme’s Risk Register</label>
        <locationX>238</locationX>
        <locationY>645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Risk_Records</targetReference>
        </connector>
        <fields>
            <name>Message_To_Continue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 14.6667px;&quot;&gt;You are about to copy &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 14.6667px;&quot;&gt;{!CountRiskRecords}&lt;/span&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 14.6667px;&quot;&gt; Risks from the Catalogue to this Register. Click Next to proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>630</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>632</locationX>
        <locationY>654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Risks successfully added to the Risk Register&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>645</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Risks_Flow</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>Name,ampi__Description__c,Probability_Value__c,Impact_Value__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>RisksListIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableCustomFooter</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRowsIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>146</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Risks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountRiskRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRiskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCatalogueRiskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeProgrammeLocationRiskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RisksListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetValuesToNewRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
</Flow>
