force-app/main/default/flows/Create_Project_Activity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_variable</name>
        <label>assign_variable</label>
        <locationX>1024</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>overarching_end_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Activity_New_Overarching</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultbased_end_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Activity_New_RB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Activity_For_Next_Order_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Implementation_Plans</name>
        <label>Count Implementation Plans</label>
        <locationX>561</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>var_Implementation_Plan_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Implementation_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Implementation_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_RB</name>
        <label>Error Message RB</label>
        <locationX>662</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot fill both fields &apos;Project Result Statement&apos; and &apos;Parent Activity&apos; on Result Based type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_For_Activities</name>
        <label>Set Error For Activities</label>
        <locationX>541</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Activity type is mandatory on Standard, Grant and Humanitarian projects. Please select the activity type to continue generating the activity.&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_for_Result_Base</name>
        <label>Set Error for Result Base</label>
        <locationX>658</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activities for type &quot;ResultsBased&quot; needs a Parent Activity or a Result Statement at least</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Implementation_Plan_ID</name>
        <label>Set Implementation Plan ID</label>
        <locationX>1100</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>var_Implementation_Plan_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Single_Implementation_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Single_Implementation_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Id_from_activities_with_no_Parent_Activity_and_PRS</name>
        <label>Set Order Id from activities with no Parent Activity and PRS</label>
        <locationX>980</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>new_order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_None_Related_Activities_for_Next_Id.Activity_Number_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Id_From_Activity</name>
        <label>Set Order Id From Activity</label>
        <locationX>1278</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>new_order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Activity_For_Next_Order_ID.Activity_Number_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Id_From_Project_Result_Statement</name>
        <label>Set Order Id From Project Result Statement</label>
        <locationX>1129</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>new_order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Result_Statement_for_Next_Id.Activity_Number_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Cancelled_NA</name>
        <choiceText>Cancelled/NA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled/NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Milestone</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Milestone&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_None</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;--None--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>choice_None</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_Overarching</name>
        <choiceText>Overarching</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overarching</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Results_Based</name>
        <choiceText>Results-Based</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Results-Based</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Status_Complete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Status_In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Status_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Status_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Status_Planning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Task</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Task&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Validation should happen when user tries to save activity on standard grant and humanitarian projects without activity type.</description>
        <name>Activity_Type_is_mandatory</name>
        <label>Activity Type is mandatory?</label>
        <locationX>757</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>what_is_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency_Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_For_Activities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If</name>
        <label>Check If ResultBase Type Is Selected Correctly</label>
        <locationX>849</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>ResultBased_Type_ParentAct_And_RS_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND ((2 OR 4 OR 6) AND (3 OR 5 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Results_Based</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_Result_Base</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Implementation_Plans</name>
        <label>Existing Implementation Plans?</label>
        <locationX>553</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>No_Implementation_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Implementation Plans</defaultConnectorLabel>
        <rules>
            <name>One_Impementation_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Implementation_Plan_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Single_Implementation_Plan</targetReference>
            </connector>
            <label>One Impementation Plan</label>
        </rules>
        <rules>
            <name>Multiple_Implementation_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Implementation_Plan_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Implementation_Plan</targetReference>
            </connector>
            <label>Multiple Implementation Plans</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultBased_Type_ParentAct_And_RS_Selected</name>
        <label>ResultBased Type ParentAct And RS Selected?</label>
        <locationX>836</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Activity_Type_is_mandatory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Results_Based</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_RB</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_is_selected</name>
        <label>what is selected</label>
        <locationX>712</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Get_None_Related_Activities_for_Next_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Parent_Activity_Selected</name>
            <conditionLogic>(1 AND 4) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Activity_New_Overarching</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Results_Based</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activity_Type_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Overarching</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_variable</targetReference>
            </connector>
            <label>Parent Activity Selected</label>
        </rules>
        <rules>
            <name>Project_Result_Statement_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Statement_New</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Result_Statement_for_Next_Id</targetReference>
            </connector>
            <label>Project Result Statement Selected</label>
        </rules>
    </decisions>
    <description>Autofill the activity ID for parent activity or project result statement</description>
    <dynamicChoiceSets>
        <name>pChoice_Activity_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Type__c</picklistField>
        <picklistObject>ampi__Activity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pChoice_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Status__c</picklistField>
        <picklistObject>ampi__Activity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PTAsForm</name>
        <collectionReference>PTAs</collectionReference>
        <dataType>String</dataType>
        <displayField>ampi__Thematic_Area_Name__c</displayField>
        <object>ampi__Project_Thematic_Area__c</object>
        <valueField>ampi__Thematic_Area__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Implementation_Plan</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ampi__Implementation_Plan__c</object>
        <outputAssignments>
            <assignToReference>var_Implementation_Plan_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Implementation_Plan_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Parent_Activities_Overarching</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Implementation_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Implementation_Plan_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Parent_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overarching</stringValue>
            </value>
        </filters>
        <object>ampi__Activity__c</object>
        <outputAssignments>
            <assignToReference>var_Parent_Activity_OrderID</assignToReference>
            <field>Order_ID__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Parent_Activities_ResultsBased</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Implementation_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Implementation_Plan_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Parent_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Results-Based</stringValue>
            </value>
        </filters>
        <object>ampi__Activity__c</object>
        <outputAssignments>
            <assignToReference>var_Parent_Activity_OrderID</assignToReference>
            <field>Order_ID__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Result_Statements</name>
        <dataType>String</dataType>
        <displayField>Concatenated_Label_Definition__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Output</stringValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ampi__Objective__c</object>
        <outputAssignments>
            <assignToReference>var_Result_Statement_Name</assignToReference>
            <field>Concatenated_Label_Definition__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Result_Statement_OrderID</assignToReference>
            <field>Order_ID__c</field>
        </outputAssignments>
        <sortField>Concatenated_Label_Definition__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Thematic_Areas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_PTAs</elementReference>
            </value>
        </filters>
        <object>ampi__Thematic_Area__c</object>
        <outputAssignments>
            <assignToReference>var_Thematic_Area_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>final_parent_activity</name>
        <dataType>String</dataType>
        <expression>IF({!Activity_Type_New} == {!choice_Overarching}, TEXT({!overarching_end_result}), TEXT({!resultbased_end_result}))</expression>
    </formulas>
    <formulas>
        <name>FinalOrderId</name>
        <dataType>Number</dataType>
        <expression>IF(ISNUMBER({!new_order_Id}),  VALUE({!new_order_Id}) + 1, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fx_Activity_ID_ConvertedToText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Activity_ID})</expression>
    </formulas>
    <formulas>
        <name>fx_Activity_Name</name>
        <dataType>String</dataType>
        <expression>IF(
{!Activity_Type_New} = {!choice_Results_Based},
IF(
ISBLANK({!Parent_Activity_New_Overarching}), 
LEFT({!var_Result_Statement_OrderID} &amp; &quot;.&quot; &amp; TEXT({!Activity_ID}) &amp; &quot; &quot; &amp; {!Activity}, 80),
LEFT({!var_Parent_Activity_OrderID} &amp; &quot;.&quot; &amp; TEXT({!Activity_ID}) &amp; &quot; &quot; &amp; {!Activity}, 80)
),  
IF(
ISBLANK({!Parent_Activity_New_Overarching}), 
LEFT(TEXT({!Activity_ID}) &amp; &quot;. &quot; &amp; {!Activity}, 80),
LEFT({!var_Parent_Activity_OrderID} &amp; &quot;.&quot; &amp; TEXT({!Activity_ID}) &amp; &quot; &quot; &amp; {!Activity}, 80))
)</expression>
    </formulas>
    <formulas>
        <name>fx_Activity_Name_New</name>
        <dataType>String</dataType>
        <expression>LEFT({!Activity}, 80)</expression>
    </formulas>
    <formulas>
        <name>Number_4_Digits_Greater_Than_Zero</name>
        <dataType>Boolean</dataType>
        <expression>{!Activity_ID} &gt; 0 &amp;&amp; {!Activity_ID} &lt; 10000</expression>
    </formulas>
    <formulas>
        <name>Status_End</name>
        <dataType>String</dataType>
        <expression>IF({!Activity_Type_Task_Milestone_New} == {!choice_Milestone}, {!Status_Milestone}, {!Status_Task})</expression>
    </formulas>
    <formulas>
        <name>value_status_new_or_open</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!Activity_Type_Task_Milestone_New}), ISBLANK({!Activity_Type_Task_Milestone_New}), {!Activity_Type_Task_Milestone_New} == {!choice_Task}), {!choice_Status_New}, {!choice_Status_Open})</expression>
    </formulas>
    <formulas>
        <name>xx_Activity_Type_Final_Value</name>
        <dataType>String</dataType>
        <expression>IF({!Activity_Type_Task_Milestone_New}=={!choice_Milestone},&quot;Milestone&quot;,&quot;Task&quot;)</expression>
    </formulas>
    <interviewLabel>Create Project Activity 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Activity</label>
    <loops>
        <name>Find_Single_Implementation_Plan</name>
        <label>Find Single Implementation Plan</label>
        <locationX>868</locationX>
        <locationY>1047</locationY>
        <collectionReference>Get_Implementation_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Implementation_Plan_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_Parent_Or_Project_Result_Statement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Activity_record</name>
        <label>Create Activity</label>
        <locationX>1280</locationX>
        <locationY>810</locationY>
        <connector>
            <targetReference>Trigger_Page_Refresh</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_ID__c</field>
            <value>
                <elementReference>fx_Activity_ID_ConvertedToText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_Activity_Name_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Responsible__c</field>
            <value>
                <elementReference>Person_Responsible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persons_Involved__c</field>
            <value>
                <elementReference>Persons_Involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Project_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thematic_Area__c</field>
            <value>
                <elementReference>PTAsForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Actual_End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Actual_Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Implementation_Plan__c</field>
            <value>
                <elementReference>var_Implementation_Plan_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Parent_Activity__c</field>
            <value>
                <elementReference>final_parent_activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project_Objective__c</field>
            <value>
                <elementReference>Result_Statement_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Status__c</field>
            <value>
                <elementReference>value_status_new_or_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type__c</field>
            <value>
                <elementReference>Activity_Type_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__xx_Activity_Type__c</field>
            <value>
                <elementReference>xx_Activity_Type_Final_Value</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Implementation_Plan</name>
        <label>Create Implementation Plan</label>
        <locationX>322</locationX>
        <locationY>860</locationY>
        <connector>
            <targetReference>Get_Implementation_Plans</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Activity_Schedule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Implementation_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Publish a Platform Event to get the Refresh Banner/Icon to display to the User after they have created an Activity.</description>
        <name>Trigger_Page_Refresh</name>
        <label>Trigger Page Refresh</label>
        <locationX>1430</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>Choose_Parent_Or_Project_Result_Statement</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Project_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Publisher_Page__c</field>
            <value>
                <stringValue>ActivityTracking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Subscribers__c</field>
            <value>
                <stringValue>ActivityTacking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__User_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Visualforce_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Activity_For_Next_Order_ID</name>
        <label>Get Activity For Next Order ID</label>
        <locationX>1253</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Id_From_Activity</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Parent_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>final_parent_activity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Activity__c</object>
        <sortField>Activity_Number_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Plans</name>
        <label>Get Implementation Plans</label>
        <locationX>358</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Implementation_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Implementation_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_None_Related_Activities_for_Next_Id</name>
        <label>Get None Related Activities for Next Id</label>
        <locationX>1003</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Id_from_activities_with_no_Parent_Activity_and_PRS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Parent_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Project_Objective__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Activity__c</object>
        <sortField>Activity_Number_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_record</name>
        <label>Get Project record</label>
        <locationX>263</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_From_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Result_Statement_for_Next_Id</name>
        <label>Get Project Result Statement for Next Id</label>
        <locationX>1129</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Id_From_Project_Result_Statement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Project_Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Result_Statement_New</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Activity__c</object>
        <sortField>Activity_Number_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PTAs</name>
        <label>GetPTAs</label>
        <locationX>358</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Implementation_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_record.Id</elementReference>
            </value>
        </filters>
        <object>ampi__Project_Thematic_Area__c</object>
        <outputReference>PTAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ampi__Thematic_Area_Name__c</queriedFields>
        <queriedFields>ampi__Thematic_Area__c</queriedFields>
        <sortField>ampi__Icon__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_From_Project</name>
        <label>Get Record Type From Project</label>
        <locationX>50</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Access_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Parent_Or_Project_Result_Statement</name>
        <label>Choose Parent Or Project Result Statement</label>
        <locationX>868</locationX>
        <locationY>800</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If</targetReference>
        </connector>
        <fields>
            <name>Activity_Type_Task_Milestone_New</name>
            <choiceReferences>choice_Task</choiceReferences>
            <choiceReferences>choice_Milestone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Task</defaultSelectedChoiceReference>
            <fieldText>Task or Milestone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Grant</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Record_Type_From_Project.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Humanitarian</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activity_Type_New</name>
            <choiceReferences>choice_Overarching</choiceReferences>
            <choiceReferences>choice_Results_Based</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choice_None</elementReference>
            </defaultValue>
            <fieldText>Activity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Results-based: &quot;Activities that staff will conduct to achieve the locally defined outputs in the results framework&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Overarching: &quot;Activities that staff will conduct to manage and monitor the project, but that do not contribute directly to a single output .&quot;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Activity_New_Overarching</name>
            <choiceReferences>rChoice_Parent_Activities_Overarching</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parent Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;For sub-activities, please select the related main activities (needs to be entered before). For main activities, please select &quot;none&quot;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Overarching</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Parent_Activity_New_RB</name>
            <choiceReferences>rChoice_Parent_Activities_ResultsBased</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parent Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;For sub-activities, please select the related main activities (needs to be entered before). For main activities, please select &quot;none&quot;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (1 AND (2 OR 3 oR 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Results_Based</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Result_Statement_New</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Result_Statement_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Result_Statement_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Result_Statement_New</name>
            <choiceReferences>rChoice_Result_Statements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project Result Statement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (1 AND 2 AND (3 OR 4 OR 5))</conditionLogic>
                <conditions>
                    <leftValueReference>Parent_Activity_New_Overarching</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Results_Based</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Parent_Activity_New_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Activity</name>
        <label>Create Activity</label>
        <locationX>1101</locationX>
        <locationY>827</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <fields>
            <name>label_type_standard</name>
            <fieldText>&lt;p&gt;Activity Type: {!Activity_Type_New}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>label_parent_activity</name>
            <fieldText>&lt;p&gt;Parent Activity: {!Parent_Activity_New_Overarching}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Parent_Activity_New_Overarching</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Overarching</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>label_parent_activity_RB</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Parent Activity: {!Parent_Activity_New_RB}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Results_Based</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Result_Statement_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>label_rs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Project Result Statement: {!Result_Statement_New}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Result_Statement_New</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type_New</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Results_Based</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>label_task_milestone_construction</name>
            <fieldText>&lt;p&gt;Activity Task Or Milestone: {!Activity_Type_Task_Milestone_New}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type_Task_Milestone_New</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_None</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Activity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Activity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Activity</name>
                    <dataType>String</dataType>
                    <fieldText>Activity</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Description must be less than 80 characters. For a detailed description please use &apos;Description&apos; field.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Activity value is too long. Please restrict entry to less than 80 characters or less.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Activity}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Activity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Activity_ID</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>FinalOrderId</elementReference>
                    </defaultValue>
                    <fieldText>Activity ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please provide the Order Number for this Activity - e.g. 1, 2, 3 etc.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Activity ID must have between 1 o 4 digits&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Activity_ID} &gt; 0 &amp;&amp; {!Activity_ID} &lt; 10000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Activity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Activity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Person_Responsible</name>
                    <dataType>String</dataType>
                    <fieldText>Person Responsible</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(163, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The Start Date of the Activity should not be after the Planned Implementation End Date of the Project.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date} &lt; {!Get_Project_record.Planned_Implementation_End_Date__c}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>status_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Status: {!value_status_new_or_open}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Status_Task</name>
                    <choiceReferences>choice_Status_Planning</choiceReferences>
                    <choiceReferences>choice_Status_In_Progress</choiceReferences>
                    <choiceReferences>choice_Status_Complete</choiceReferences>
                    <choiceReferences>choice_Status_New</choiceReferences>
                    <choiceReferences>Choice_Cancelled_NA</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_Status_New</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Activity_Type_Task_Milestone_New</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_Task</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>choice_None</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Status_Milestone</name>
                    <choiceReferences>choice_Status_Complete</choiceReferences>
                    <choiceReferences>choice_Status_Open</choiceReferences>
                    <choiceReferences>Choice_Cancelled_NA</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Activity_Type_Task_Milestone_New</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_Milestone</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>choice_None</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Activity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Persons_Involved</name>
                    <dataType>String</dataType>
                    <fieldText>Persons Involved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(163, 0, 0);&quot;&gt;The End Date of the Activity should not be after the Planned Implementation End Date of the Project.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!End_Date} &lt; {!Get_Project_record.Planned_Implementation_End_Date__c}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Thematic_Area</name>
                    <choiceReferences>PTAsForm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>choice_None</elementReference>
                    </defaultValue>
                    <fieldText>Service Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Activity_Type_New</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_Results_Based</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>509</locationX>
        <locationY>577</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_activity_type</name>
            <fieldText>&lt;p&gt;&lt;em&gt;{!error_message}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows Error on Process</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1472</locationX>
        <locationY>813</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 5, 10); font-size: 18px;&quot;&gt;Something went wrong.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Flow</name>
            <fieldText>&lt;p&gt;Activities of the type &quot;Results-based&quot; must be assigned to either a parent activity or result statement. Please check if Activity ID is duplicated. Please review your entry.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Technical details below:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Implementation_Plans</name>
        <label>No Implementation Plans</label>
        <locationX>446</locationX>
        <locationY>1191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Implementation_Plan</targetReference>
        </connector>
        <fields>
            <name>No_Activity_Schedule_Found</name>
            <fieldText>&lt;p&gt;No Activity Schedule exists for this Project. Please enter the name for a new Activity Schedule.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activity_Schedule_Name</name>
            <dataType>String</dataType>
            <fieldText>Activity Schedule Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please make sure the Activity Schedule Name is 80 characters or less. &lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Activity_Schedule_Name})&lt;80</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>1104</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change</backButtonLabel>
        <connector>
            <targetReference>Create_Activity_record</targetReference>
        </connector>
        <fields>
            <name>Output_Values</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Implementation Plan: &lt;/strong&gt;{!var_Implementation_Plan_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Activity Type: &lt;/strong&gt;{!Activity_Type_New}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Parent Activity For Overarching: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Parent_Activity_New_Overarching}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Parent Activity For Results-Based: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Parent_Activity_New_RB}&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Project Result Statement For Results-Based:&lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!var_Result_Statement_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Activity Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!fx_Activity_Name_New}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Activity ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Activity_ID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Description:&lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Person Responsible: &lt;/strong&gt;{!Person_Responsible}&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Persons Involved: &lt;/strong&gt;{!Persons_Involved}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start Date: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Start_Date}&lt;/span&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date:&lt;/strong&gt; {!End_Date}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!value_status_new_or_open}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Service Type:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!PTAsForm}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Implementation_Plan</name>
        <label>Select Implementation Plan</label>
        <locationX>715</locationX>
        <locationY>800</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Parent_Or_Project_Result_Statement</targetReference>
        </connector>
        <fields>
            <name>Select_an_Implementation_Plan</name>
            <choiceReferences>rChoice_Implementation_Plan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Implementation Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Get_Project_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Access_Permissions</name>
        <label>Check Access Permissions</label>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_PTAs</targetReference>
        </connector>
        <flowName>MA_Portal_Create_Access_Controller_for_Screen_Flows</flowName>
        <inputAssignments>
            <name>sObj_Project</name>
            <value>
                <elementReference>Get_Project_record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AAAAAA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TEXT({!Parent_Activity_New_Overarching})</stringValue>
        </value>
    </variables>
    <variables>
        <name>error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>overarching_end_result</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PTAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Thematic_Area__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultbased_end_result</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Implementation_Plan_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Implementation_Plan_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Implementation_Plan_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Parent_Activity_OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Person_Responsible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Project_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Result_Statement_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Result_Statement_OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Thematic_Area_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
