force-app/main/default/flows/Create_Monitoring_Periods_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Reporting_Period_to_Collection</name>
        <label>Add Reporting Period to Collection</label>
        <locationX>1682</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>sColl_Reporting_Periods_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_Project_Reporting_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RP_mdt_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Reporting_Period_to_Collection_0</name>
        <label>Add Reporting Period to Collection</label>
        <locationX>1320</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>sColl_Reporting_Periods_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_Project_Reporting_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOP_Created_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Annual_RPs_Created_TRUE</name>
        <label>Annual RPs Created = TRUE</label>
        <locationX>927</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>var_Annual_RPs_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Project_Reporting_Period</name>
        <label>Build Project Reporting Period</label>
        <locationX>1770</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Reporting_Period_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Reporting_Period_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Report_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Report_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reporting_Period_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Project_Reporting_Period_0</name>
        <label>Build Project Reporting Period</label>
        <locationX>1161</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life of Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Report_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life of Project</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reporting_Period_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Records</name>
        <label>Count # of Records</label>
        <locationX>833</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>var_Number_of_RPs_to_Insert</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>sColl_Reporting_Periods_To_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LOP_Created_TRUE</name>
        <label>LOP Created = TRUE</label>
        <locationX>1323</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>var_LOP_RP_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monthly_RPs_Created_TRUE_0</name>
        <label>Monthly RPs Created = TRUE</label>
        <locationX>1037</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_RPs_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quarterly_RPs_Created_TRUE</name>
        <label>Quarterly RPs Created = TRUE</label>
        <locationX>817</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>var_Quarterly_RPs_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Semi_Annual_Created_TRUE</name>
        <label>Semi-Annual Created = TRUE</label>
        <locationX>692</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>var_Semi_Annual_RPs_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Monthly</name>
        <label>Value = Monthly</label>
        <locationX>1029</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>var_Frequency_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Catalogue_RPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Quarterly</name>
        <label>Value = Quarterly</label>
        <locationX>1025</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>var_Frequency_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quarterly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Catalogue_RPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Semi_Annual</name>
        <label>Value = Semi-Annual</label>
        <locationX>998</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>var_Frequency_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Semi_Annual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Catalogue_RPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Yearly</name>
        <label>Value = Yearly</label>
        <locationX>962</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_Frequency_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yearly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Catalogue_RPs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_RPs</name>
        <choiceText>Create Reporting Periods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Reporting Periods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_All_RPs</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delete All Reporting Periods&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete All Reporting Periods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Life_of_Project</name>
        <choiceText>Life of Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Life of Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Annual</name>
        <choiceText>Semi-Annual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Annual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yearly</name>
        <choiceText>Yearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </choices>
    <constants>
        <name>Picklist_Monthly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Frequencies_Selected</name>
        <label>Frequencies Selected?</label>
        <locationX>827</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>Count_of_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Chosen RPs Created</defaultConnectorLabel>
        <rules>
            <name>Monthly_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reporting_Frequencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Monthly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Monthly_RPs_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Monthly</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Quarterly_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reporting_Frequencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Quarterly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Quarterly_RPs_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Quarterly</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
        <rules>
            <name>Semi_Annual_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reporting_Frequencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Semi_Annual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Semi_Annual_RPs_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Semi_Annual</targetReference>
            </connector>
            <label>Semi-Annual</label>
        </rules>
        <rules>
            <name>Yeary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reporting_Frequencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Yearly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Annual_RPs_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Yearly</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Life_of_Project_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reporting_Frequencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Life_of_Project</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LOP_RP_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Project_Reporting_Period_0</targetReference>
            </connector>
            <label>Life of Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RPs_were_created</name>
        <label>Which RPs were created?</label>
        <locationX>903</locationX>
        <locationY>1513</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Monthly_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Frequency_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Monthly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_RPs_Created_TRUE_0</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Quarterly_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Frequency_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quarterly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarterly_RPs_Created_TRUE</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
        <rules>
            <name>Semi_Annual_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Frequency_Value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Semi_Annual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semi_Annual_Created_TRUE</targetReference>
            </connector>
            <label>Semi-Annual</label>
        </rules>
        <rules>
            <name>Annual_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Frequency_Value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Yearly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_RPs_Created_TRUE</targetReference>
            </connector>
            <label>Annual</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pChoice_Frequencies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Report_Type__c</picklistField>
        <picklistObject>ampi__Reporting_Period__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Calculates the number of months between the Start and End Date that the user provided.</description>
        <name>fx_Duration_Months</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!End_Date} - {!Start_Date})/29, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Takes the User-inputted end date and finds the date of the nearest Reporting Period (rounded up).</description>
        <name>fx_Nearest_Reporting_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>CASE({!var_Frequency_Value},
{!Monthly}, 
IF(MONTH({!End_Date}) = 12, 
DATE(YEAR({!End_Date}), 12, 31),
DATE(YEAR({!End_Date}), MONTH(ADDMONTHS({!End_Date},1)), 1)-1),
{!Yearly}, DATE(YEAR({!End_Date}), 12, 31),
{!Quarterly}, 
CASE(CEILING(MONTH({!End_Date}) / 3),
1, DATE(YEAR({!End_Date}), 3, 31),
2, DATE(YEAR({!End_Date}), 6, 30),
3, DATE(YEAR({!End_Date}), 9, 30),
DATE(YEAR({!End_Date}), 12, 31)),
{!Semi_Annual}, DATE(YEAR({!End_Date}), IF(MONTH({!End_Date})&lt;=6, 6, 12), IF(MONTH({!End_Date})&lt;=6, 30, 31)),
NULL)</expression>
    </formulas>
    <formulas>
        <description>Takes the User-inputted start date and finds the date of the nearest Quarterly Reporting Period (rounded down).</description>
        <name>fx_Nearest_Reporting_Period_Start_Date</name>
        <dataType>Date</dataType>
        <expression>CASE({!var_Frequency_Value},
{!Monthly}, DATE(YEAR({!Start_Date}),MONTH({!Start_Date}), 1), 
{!Yearly}, DATE(YEAR({!Start_Date}), 1, 1), 
{!Quarterly}, 
CASE(CEILING(MONTH({!Start_Date}) / 3),
1, DATE(YEAR({!Start_Date}), 1, 1),
2, DATE(YEAR({!Start_Date}), 4, 1),
3, DATE(YEAR({!Start_Date}), 7, 1),
DATE(YEAR({!Start_Date}), 10, 1)),
{!Semi_Annual}, DATE(YEAR({!Start_Date}), IF(MONTH({!Start_Date})&lt;=6, 1, 7), 1),
NULL)</expression>
    </formulas>
    <formulas>
        <description>Converts the number of days between the Start &amp; End Date to the number of Reporting Periods that must be generated</description>
        <name>fx_Number_of_Periods_to_Create</name>
        <dataType>Number</dataType>
        <expression>CASE({!var_Frequency_Value},
{!Yearly}, ROUND(({!fx_Duration_Months}/12)+0.5, 0),
{!Semi_Annual}, ROUND(({!fx_Duration_Months}/6)+0.5, 0),
{!Quarterly}, ROUND(({!fx_Duration_Months}/3)+0.5, 0),
{!Monthly}, {!fx_Duration_Months},
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_Quarterly_Days_To_Add</name>
        <dataType>Number</dataType>
        <expression>CASE(MONTH({!var_Date_Incrementer}),
1, 90,
2, 59,
3, 31,
4, 91,
5, 62,
6, 30,
7, 92,
8, 61,
9, 30,
10, 92,
11, 61,
12, 31,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_RP_Label</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Record.Project_ID_Text__c} &amp; &quot; - &quot; &amp; {!RP_mdt_Loop.Label}</expression>
    </formulas>
    <interviewLabel>Create Monitoring Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Monitoring Periods</label>
    <loops>
        <name>RP_mdt_Loop</name>
        <label>For Each RP</label>
        <locationX>1583</locationX>
        <locationY>549</locationY>
        <collectionReference>Get_Catalogue_RPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Project_Reporting_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_RPs_were_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Reporting_Periods</name>
        <label>Insert Reporting Periods</label>
        <locationX>837</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>sColl_Reporting_Periods_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Catalogue_RPs</name>
        <label>Get Catalogue RPs</label>
        <locationX>1360</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RP_mdt_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Frequency_Value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Period_End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fx_Nearest_Reporting_Period_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Period_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fx_Nearest_Reporting_Period_Start_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Catalogue_Reporting_Period__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>465</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Access_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>837</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Reporting_Periods</targetReference>
        </connector>
        <fields>
            <name>Output_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Confirm:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have chosen to create a total of {!var_Number_of_RPs_to_Insert} Monitoring Periods between {!Start_Date} and {!End_Date}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to create these records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Let the User choose which frequencies (1 or multiple) they would like to insert RPs for, as well as the date range they would like to create RPs for. 

E.g. 1 Jan - 15 April= 4 months, 2 Quarters, 1 Annual, 1 Life of Project.</description>
        <name>Select_Options</name>
        <label>Select Options</label>
        <locationX>699</locationX>
        <locationY>536</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Frequencies_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_Reporting_Frequencies</name>
            <choiceReferences>pChoice_Frequencies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Reporting Frequencies</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Record.Planned_Implementation_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Your Start Date must be earlier than your End Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &lt; {!End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Record.Planned_Implementation_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your End Date must be later than your Start Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Date} &gt; {!Start_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Project_Dates</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Planned Implementation Start Date: &lt;/b&gt;{!Get_Project_Record.Planned_Implementation_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Planned &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Implementation End Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Project_Record.Planned_Implementation_End_Date__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1008</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Reporting Periods were successfully created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>87</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Access_Permissions</name>
        <label>Check Access Permissions</label>
        <locationX>589</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Select_Options</targetReference>
        </connector>
        <flowName>MA_Portal_Create_Access_Controller_for_Screen_Flows</flowName>
        <inputAssignments>
            <name>sObj_Project</name>
            <value>
                <elementReference>Get_Project_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Project_Owner_ID</name>
            <value>
                <elementReference>Get_Project_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sColl_Reporting_Periods_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>sObj_Catalogue_Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>sObj_Project_Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>var_Annual_RPs_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Date_Incrementer</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Frequency_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LOP_RP_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Monthly_RPs_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Number_of_RPs_to_Insert</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Quarterly_RPs_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Semi_Annual_RPs_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
