force-app/main/default/flows/Create_Risk_Review_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_values_for_NA_Risk_Review</name>
        <label>Set values for NA Risk Review</label>
        <locationX>402</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>NewRiskReview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_Review_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.National_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NationalAssociation_NA.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Reporting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonitoringPeriod_NA.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Craete_NA_Risk_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_new_project_risk_review</name>
        <label>Set values for new project risk review</label>
        <locationX>655</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Actual_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Impact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_Review_Name_Proj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Reporting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonitoringPeriod_Proj.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Risk_Occurred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RiskOccurred</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.ampi__Reason_No_Longer_a_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_no_Longer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRiskReview.National_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NationalAssociation_Proj.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Craete_NA_Risk_Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>which_record_type_is_selected</name>
        <label>which record type is selected</label>
        <locationX>862</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>New_Project_Risk_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Risk Review</defaultConnectorLabel>
        <rules>
            <name>Is_NA_Risk_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Risk_Review_RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeNA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Risk_Review_NA_Safety_Security_Risk_Review</targetReference>
            </connector>
            <label>NA Risk Review</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActualImpact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Actual_Impact__c</picklistField>
        <picklistObject>ampi__Risk_Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContinuedRisk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Continued_Risk__c</picklistField>
        <picklistObject>ampi__Risk_Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordType_NARiskReview</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA_Risk_Review</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeNA</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordType_ProjectRiskReview</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Risk_Review</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeProject</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypes_RiskReview</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ampi__Risk_Assessment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeSelected</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskOccurred</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Risk_Occurred__c</picklistField>
        <picklistObject>ampi__Risk_Assessment__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Create Risk Review Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Risk Review Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Craete_NA_Risk_Review</name>
        <label>Craete NA Risk Review</label>
        <locationX>400</locationX>
        <locationY>452</locationY>
        <inputReference>NewRiskReview</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetNARiskReview</name>
        <label>GetNARiskReview</label>
        <locationX>653</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_a_new_Risk_Review_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA_Risk_Review</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeNA</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProjectRiskReview</name>
        <label>GetProjectRiskReview</label>
        <locationX>455</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNARiskReview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Risk_Review</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeProject</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Project_Risk_Review</name>
        <label>New Risk Review: Project Risk Review</label>
        <locationX>874</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_values_for_new_project_risk_review</targetReference>
        </connector>
        <fields>
            <name>New_Project_Risk_Review_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Review_Name_Proj</name>
                    <dataType>String</dataType>
                    <fieldText>Risk Review Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Project_Risk_Review_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ampi__Risk__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Risk</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonitoringPeriod_Proj</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ampi__Reporting_Period__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Monitoring Period</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Project_Risk_Review_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Occurred</name>
                    <choiceReferences>RiskOccurred</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Risk Occurred</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ampi__Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Project_Risk_Review_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Event</name>
                    <fieldText>Description of Event</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Continued_Risk</name>
                    <choiceReferences>ContinuedRisk</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Continued Risk?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Project_Risk_Review_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Impact</name>
                    <choiceReferences>ActualImpact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Actual Impact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_no_Longer</name>
                    <fieldText>Reason no Longer a Risk</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Project_Risk_Review_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Project_Risk_Review_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NationalAssociation_Proj</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>National_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>National Association</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Project_Risk_Review_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Risk_Review_NA_Safety_Security_Risk_Review</name>
        <label>New Risk Review: NA Safety &amp; Security Risk Review</label>
        <locationX>651</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_values_for_NA_Risk_Review</targetReference>
        </connector>
        <fields>
            <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Review_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Risk Review Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MonitoringPeriod_NA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ampi__Reporting_Period__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Monitoring Period</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Risk_Review_NA_Safety_Security_Risk_Review_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NationalAssociation_NA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk_Assessment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>National Association</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>National_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_new_Risk_Review_Type</name>
        <label>Select a new Risk Review Type</label>
        <locationX>878</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>which_record_type_is_selected</targetReference>
        </connector>
        <fields>
            <name>Risk_Review_RecordType</name>
            <choiceReferences>RecordTypes_RiskReview</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordTypeNA</elementReference>
            </defaultValue>
            <fieldText>Choose Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetProjectRiskReview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewRiskReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk_Assessment__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeNA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
