force-app/main/default/flows/Flow_Bulk_Add_Catalogue_Risk_From_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>235</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>CatalogueRisksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Risk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_To_Collection</name>
        <label>Add Record To Collection</label>
        <locationX>1049</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>sColl_NewProjectRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_Project_Risk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Record_IDs_to_Collection</name>
        <label>Assign Selected Record IDs to Collection</label>
        <locationX>418</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Catalogue_Risks.lstSelectedIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Catalogue_Risk</name>
        <label>Clone Catalogue Risk</label>
        <locationX>1048</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ProjectRisk_RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.ampi__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.ampi__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Nature_of_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Nature_of_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Identification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Copied_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_Count</name>
        <label>Update Record Count</label>
        <locationX>901</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>var_RecordCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_records</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>rChoice_Risk_Registers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ProjectID</elementReference>
            </value>
        </filters>
        <object>ampi__Risk_Register__c</object>
        <outputAssignments>
            <assignToReference>var_RiskRegisterID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fx_Catalogue_Risk_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Catalogue_Risk_RecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>fx_Link_to_Project_Record</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &quot;/&quot; &amp; {!var_ProjectID}</expression>
    </formulas>
    <formulas>
        <name>fx_ProjectRisk_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Project_Risk_Record_Type_ID}</expression>
    </formulas>
    <interviewLabel>Flow_Bulk_Add_Catalogue_Risk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Bulk_Add_Catalogue_Risk_From_List</label>
    <loops>
        <name>For_Each_Risk</name>
        <label>For Each Risk</label>
        <locationX>241</locationX>
        <locationY>325</locationY>
        <collectionReference>Get_Catalogue_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Catalogue_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_records</name>
        <label>Loop through selected records</label>
        <locationX>661</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>var_CatalogueRiskID</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Catalogue_Risk_Record_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Risk_Records</name>
        <label>Insert Risk Records</label>
        <locationX>659</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>sColl_NewProjectRisks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Catalogue_Risk_Record_Details</name>
        <label>Get Catalogue Risk Record Details</label>
        <locationX>890</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Catalogue_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CatalogueRiskID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Catalogue_Risks</name>
        <label>Get Catalogue Risks</label>
        <locationX>118</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fx_Catalogue_Risk_RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>125</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Catalogue_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>660</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Risk_Records</targetReference>
        </connector>
        <fields>
            <name>Confirm_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please Confirm&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Project:&lt;/b&gt; {!Get_Project_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;# Risks being added: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_RecordCounter}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>489</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Catalogue_Risks</name>
        <label>Select Catalogue Risks</label>
        <locationX>417</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Record_IDs_to_Collection</targetReference>
        </connector>
        <fields>
            <name>Select_from_Catalogue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Risks to add to your Project&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Catalogue_Risks</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>CatalogueRisksList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>ampi__Risk__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,ampi__Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstSelectedIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>802</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Risks successfully added to Project!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Remember&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;: After adding Catalogue Risks, you should edit each one to add the relevant details for the risk, such as Description, Potential Impact, Probability, etc.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CatalogueRisksList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sColl_NewProjectRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>sObj_Project_Risk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>var_CatalogueRiskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskRegisterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
