force-app/main/default/flows/Flow_Bulk_Choices_For_Add_Catalogue_Risk_Or_Custom_Risk_From_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>487</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>CatalogueRisksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Risk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_To_Collection</name>
        <label>Add Record To Collection</label>
        <locationX>1233</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>sColl_NewProjectRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_Project_Risk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Record_IDs_to_Collection</name>
        <label>Assign Selected Record IDs to Collection</label>
        <locationX>666</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Catalogue_Risks_Flow.selectedRowsIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Catalogue_Risk</name>
        <label>Clone Catalogue Risk</label>
        <locationX>1232</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ProjectRisk_RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.ampi__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.ampi__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Nature_of_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Nature_of_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.ampi__Identification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Risk.Copied_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Catalogue_Risk_Record_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_Count</name>
        <label>Update Record Count</label>
        <locationX>1085</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>var_RecordCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Custom_Risk</name>
        <choiceText>Add Custom Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_From_Catalogue</name>
        <choiceText>Add From Catalogue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalogue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>User_Risk_Election</name>
        <label>User Risk Election</label>
        <locationX>482</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Create_Custom_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Custom Risk</defaultConnectorLabel>
        <rules>
            <name>What_risk_did_the_user_chooses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_risk_would_you_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_From_Catalogue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Catalogue_Risks</targetReference>
            </connector>
            <label>Add Risk From Catalogue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Potential_Impact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Potential_Impact__c</picklistField>
        <picklistObject>ampi__Risk__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Priority__c</picklistField>
        <picklistObject>ampi__Risk__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Risk_Registers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ProjectID</elementReference>
            </value>
        </filters>
        <object>ampi__Risk_Register__c</object>
        <outputAssignments>
            <assignToReference>var_RiskRegisterID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fx_Catalogue_Risk_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Catalogue_Risk_RecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>fx_Link_to_Project_Record</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; &quot;/&quot; &amp; {!var_ProjectID}</expression>
    </formulas>
    <formulas>
        <name>fx_ProjectRisk_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Project_Risk_Record_Type_ID}</expression>
    </formulas>
    <interviewLabel>Flow_Bulk_Choices_For_Add_Catalogue_Risk_Or_Custom_Risk_From_List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Project or Catalogue Risk</label>
    <loops>
        <name>For_Each_Risk</name>
        <label>For Each Risk</label>
        <locationX>491</locationX>
        <locationY>584</locationY>
        <collectionReference>Get_Catalogue_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Catalogue_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_records</name>
        <label>Loop through selected records</label>
        <locationX>845</locationX>
        <locationY>319</locationY>
        <assignNextValueToReference>var_CatalogueRiskID</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Catalogue_Risk_Record_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Risk_For_Project</name>
        <label>Create Custom Risk For Project</label>
        <locationX>915</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Success_Custom_Risk</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Risk_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Risk_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Responsible__c</field>
            <value>
                <elementReference>User_Risk.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project_Risk.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>fx_ProjectRisk_RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Risk_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Identification_Date__c</field>
            <value>
                <elementReference>Identification_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Potential_Impact__c</field>
            <value>
                <elementReference>Potencial_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Probability__c</field>
            <value>
                <elementReference>Probability</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Risk_Records</name>
        <label>Insert Risk Records</label>
        <locationX>843</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>sColl_NewProjectRisks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Catalogue_Risk_Record_Details</name>
        <label>Get Catalogue Risk Record Details</label>
        <locationX>1074</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Catalogue_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CatalogueRiskID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Catalogue_Risks</name>
        <label>Get Catalogue Risks</label>
        <locationX>487</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fx_Catalogue_Risk_RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>170</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_New_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_New_Risk</name>
        <label>Choose New Risk</label>
        <locationX>314</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Risk_Election</targetReference>
        </connector>
        <fields>
            <name>Which_risk_would_you_create</name>
            <choiceReferences>Add_Custom_Risk</choiceReferences>
            <choiceReferences>Add_From_Catalogue</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Add_Custom_Risk</defaultSelectedChoiceReference>
            <fieldText>Which risk would you create?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>844</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Risk_Records</targetReference>
        </connector>
        <fields>
            <name>Confirm_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please Confirm&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Project:&lt;/b&gt; {!Get_Project_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;# Risks being added: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_RecordCounter}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Custom_Risk</name>
        <label>Create Custom Risk</label>
        <locationX>743</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Custom_Risk_For_Project</targetReference>
        </connector>
        <fields>
            <name>Risk_Name</name>
            <dataType>String</dataType>
            <fieldText>Risk Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Custom_Risk_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Custom_Risk_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Description</name>
                    <fieldText>Risk Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Custom_Risk_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Risk</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Custom_Risk_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Custom_Risk_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Probability</name>
                    <choiceReferences>Priority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probability</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>User_Risk</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Person_Responsible__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Person Responsible</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ampi__Risk__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Custom_Risk_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Potencial_Impact</name>
                    <choiceReferences>Potential_Impact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Potencial Impact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Identification_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Identification Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Custom_Risk_Error</name>
        <label>Custom Risk Error</label>
        <locationX>1197</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Custom_Risk_Error_OnSave</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>673</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Catalogue_Risks</name>
        <label>Select Catalogue Risks</label>
        <locationX>667</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Record_IDs_to_Collection</targetReference>
        </connector>
        <fields>
            <name>Select_from_Catalogue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Risks to add to your Project&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Catalogue_Risks_Flow</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>Name,ampi__Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>CatalogueRisksList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRowsIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>986</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Risks successfully added to Project!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Remember&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;: After adding Catalogue Risks, you should edit each one to add the relevant details for the risk, such as Description, Potential Impact, Probability, etc.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Custom_Risk</name>
        <label>Success_Custom_Risk</label>
        <locationX>1201</locationX>
        <locationY>175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Custom_Risk_Added_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Risks successfully added to Project!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CatalogueRisksList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sColl_NewProjectRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>sObj_Project_Risk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>var_CatalogueRiskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskRegisterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
