force-app/main/default/flows/Flow_Create_Result_Statement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count</name>
        <label>Add 1 to Count</label>
        <locationX>1235</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Outcome_Order_Num</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_0</name>
        <label>Add 1 to Count</label>
        <locationX>1233</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Parent_Objective_Impact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_Impact</name>
        <label>Add 1 to Count Impact</label>
        <locationX>249</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_Objective_Impact_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records</name>
        <label>Count # Records</label>
        <locationX>249</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Sibling_Impacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_of_sibling_Impacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Count_Sibling_Impacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Count_Impact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Sibling_Objectives</name>
        <label>Count # Records</label>
        <locationX>1093</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Sibling_Outcomes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_num_of_sibling_Outcomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Count_Sibling_Outcomes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Sibling_Outcomes</name>
        <label>Count # Records</label>
        <locationX>1104</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Sibling_Outputs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_number_sibling_Outputs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Order_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Count_Sibling_Outputs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Objective_Impact</name>
        <label>Set Parent Objective = Impact</label>
        <locationX>1350</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>var_Parent_Objective_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_for_Impact_Objective.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Objective</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Impact</name>
        <choiceText>Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Outcome</name>
        <choiceText>Outcome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outcome</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Output</name>
        <choiceText>Output</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Output</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_Impact_Objective</name>
        <label>Found Impact Objective?</label>
        <locationX>559</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Create_Result_Statement_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Impact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Impact_Objective</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Result_Statement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_Chosen</name>
        <label>Level Chosen?</label>
        <locationX>833</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Impact or Objective</defaultConnectorLabel>
        <rules>
            <name>Output</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Output</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_number_sibling_Outputs</targetReference>
            </connector>
            <label>Output</label>
        </rules>
        <rules>
            <name>Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Outcome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_num_of_sibling_Outcomes</targetReference>
            </connector>
            <label>Outcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ampi__Level__c</picklistField>
        <picklistObject>ampi__Catalog_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Parent_PO_Objective</name>
        <dataType>String</dataType>
        <displayField>ampi__Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Objective</stringValue>
            </value>
        </filters>
        <object>ampi__Objective__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rChoice_Parent_PO_Outcome</name>
        <dataType>String</dataType>
        <displayField>ampi__Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outcome</stringValue>
            </value>
        </filters>
        <object>ampi__Objective__c</object>
        <sortField>ampi__Label__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fx_Parent_PO_ID</name>
        <dataType>String</dataType>
        <expression>IF({!Level} = &apos;Output&apos;, {!Get_Parent_Outcome_Order_Num.Id}, {!var_Parent_Objective_ID})</expression>
    </formulas>
    <formulas>
        <name>fx_Result_Statement_Name</name>
        <dataType>String</dataType>
        <expression>{!Level} &amp; &quot; &quot; &amp; IF({!Level} = &apos;Output&apos;, (TEXT({!Get_Parent_Outcome_Order_Num.Order_Number__c}) &amp; &quot;.&quot;), &quot;&quot;) &amp; TEXT({!var_Order_Number})</expression>
    </formulas>
    <interviewLabel>Create Result Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Result Statement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Impact_Statement</name>
        <label>Create Impact Statement</label>
        <locationX>405</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Get_of_sibling_Impacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Definition__c</field>
            <value>
                <elementReference>Impact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Level__c</field>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </inputAssignments>
        <object>ampi__Catalog_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Objective</name>
        <label>Create Objective</label>
        <locationX>1641</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>Create_Project_Objective</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_Result_Statement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Definition__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Catalog_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Objective</name>
        <label>Create Project Objective</label>
        <locationX>1616</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Refresh_Page_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>var_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Label__c</field>
            <value>
                <elementReference>fx_Result_Statement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Objective__c</field>
            <value>
                <elementReference>Create_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Parent_Project_Objective__c</field>
            <value>
                <elementReference>fx_Parent_PO_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Objective_Impact_Statement</name>
        <label>Create Project Objective</label>
        <locationX>408</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>var_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Impact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Label__c</field>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Level__c</field>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Objective__c</field>
            <value>
                <elementReference>Create_Impact_Statement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>583</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Project_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Publisher_Page__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Subscribers__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__User_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Visualforce_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Refresh_Page_0</name>
        <label>Refresh Page</label>
        <locationX>1024</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Project_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Publisher_Page__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Subscribers__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__User_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Visualforce_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_num_of_sibling_Outcomes</name>
        <label>Get # of sibling Outcomes</label>
        <locationX>969</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Sibling_Objectives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outcome</stringValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_number_sibling_Outputs</name>
        <label>Get # of sibling Outputs</label>
        <locationX>985</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Sibling_Outcomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Output</stringValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Parent_Project_Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Outcome</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_of_sibling_Impacts</name>
        <label>Get # of sibling Impacts</label>
        <locationX>248</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Outcome_Order_Num</name>
        <label>Get Parent Outcome Order #</label>
        <locationX>1353</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Objective</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Outcome</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>455</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Access_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Impact_Objective</name>
        <label>Look for Impact Objective</label>
        <locationX>580</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Impact_Objective</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Result_Statement</name>
        <label>Create Result Statement</label>
        <locationX>726</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Level_Chosen</targetReference>
        </connector>
        <fields>
            <name>Level</name>
            <choiceReferences>choice_Outcome</choiceReferences>
            <choiceReferences>choice_Output</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parent_Outcome</name>
            <choiceReferences>rChoice_Parent_PO_Outcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Level</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Output</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Name</name>
            <fieldText>Result Statement Name</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Name must be less than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Name}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Result_Statement_0</name>
        <label>Create Result Statement</label>
        <locationX>408</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Impact_Statement</targetReference>
        </connector>
        <fields>
            <name>Impact_Level_Read_Only</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Level&lt;/b&gt;: Impact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Impact_Name</name>
            <fieldText>Name</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Name must be less than 255 characters
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Impact_Name}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>583</locationX>
        <locationY>649</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Look_for_Impact_Objective</targetReference>
        </connector>
        <fields>
            <name>Success_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;New Result Statement Created Successfully&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To create another Result Statement, click &quot;Next&quot;. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Otherwise, close this popup and refresh the page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Access_Permissions</name>
        <label>Check Access Permissions</label>
        <locationX>578</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Look_for_Impact_Objective</targetReference>
        </connector>
        <flowName>MA_Portal_Create_Access_Controller_for_Screen_Flows</flowName>
        <inputAssignments>
            <name>sObj_Project</name>
            <value>
                <elementReference>Get_Project</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>coll_Sibling_Output_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_Sibling_Impacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_Sibling_Outcomes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_Sibling_Outputs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Order_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Parent_Objective_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
