force-app/main/default/flows/Flow_Add_Geographic_Area_Risks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Cloned_Risk_to_Collection</name>
        <label>Add Cloned Risk to Collection</label>
        <locationX>1031</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>sColl_NewRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_ClonedRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Risk</name>
        <label>Clone Risk</label>
        <locationX>1031</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProjectRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.Nature_of_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.Nature_of_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Probability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Project_Risk_RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Potential_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Potential_Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Identification_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Identification_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.Person_Responsible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.Person_Responsible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Mitigation_Strategy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Mitigation_Strategy_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.ampi__Mitigation_Strategy_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.ampi__Mitigation_Strategy_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_ClonedRisk.Copied_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_LoopRisk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cloned_Risk_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_AdminEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>jfeldman@verasolutions.org</stringValue>
        </value>
    </constants>
    <formulas>
        <name>fx_Project_Risk_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Project_Risk_Record_Type_ID}</expression>
    </formulas>
    <interviewLabel>Flow_Add_Geographic_Area_Risks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Add_Geographic_Area_Risks</label>
    <loops>
        <name>For_Each_Risk</name>
        <label>For Each Risk</label>
        <locationX>835</locationX>
        <locationY>68</locationY>
        <assignNextValueToReference>sObj_LoopRisk</assignNextValueToReference>
        <collectionReference>Get_Related_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Risk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Risks</name>
        <label>Insert Risks</label>
        <locationX>831</locationX>
        <locationY>359</locationY>
        <inputReference>sColl_NewRisks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Geographic_Area_Record</name>
        <label>Get Geographic Area Record</label>
        <locationX>476</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GARecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Geographical_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Risks</name>
        <label>Get Related Risks</label>
        <locationX>656</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programme_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GARecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Geographic_Area_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A User in the system tried to set a Programme Location for a Project ({!var_ProjectRecordID}) in ProDIGI, but something went wrong. Please review the error message and reach out to the User to resolve their issue as soon as possible. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message&lt;/b&gt;: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A Flow has failed!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>sColl_NewRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>sObj_ClonedRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>sObj_LoopRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>sObj_New_Risk_Register</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk_Register__c</objectType>
    </variables>
    <variables>
        <name>var_GARecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProjectRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
