force-app/main/default/flows/Flow_Create_EntitySubscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Subscriptions_From_User</name>
        <label>Count Subscriptions From User</label>
        <locationX>822</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>count_subscription</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>first_subscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Elements</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks if existing EntitySubscription record exists</description>
        <name>Is_sObj_Existing_Subscription_Null</name>
        <label>Is sObj_Existing_Subscription Null?</label>
        <locationX>653</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Existing Entity Subscription found</defaultConnectorLabel>
        <rules>
            <name>No_existing_EntitySubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObj_Existing_Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EntitySubscription_Record</targetReference>
            </connector>
            <label>No existing EntitySubscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_is_more_than_500</name>
        <label>Value is more than 500?</label>
        <locationX>481</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_SubscriptionEntity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_subscription</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_older_subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates an EntitySubscription record (notification subscription) based on Team Member records child to Project records. A Process Builder launches this flow when a Team Member of Record Type=Project_Team_Member is created; this flow then automatically subscribes the team member to the Project notifications.</description>
    <interviewLabel>Create Entity Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Create EntitySubscription</label>
    <loops>
        <name>Count_Elements</name>
        <label>Count Elements</label>
        <locationX>619</locationX>
        <locationY>67</locationY>
        <collectionReference>Get_All_Entity_Subscription_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Subscriptions_From_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Value_is_more_than_500</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an EntitySubscription record using the Project from the Team Member record for the ParentId on the new EntitySubscription record and using the User from the Team Member record for the SubscriberId on the new EntitySubscription record.</description>
        <name>Create_EntitySubscription_Record</name>
        <label>Create EntitySubscription Record</label>
        <locationX>873</locationX>
        <locationY>453</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sObj_teammember.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>sObj_teammember.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_older_subscription</name>
        <label>Delete older subscription</label>
        <locationX>294</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Get_All_Entity_Subscription_Record</targetReference>
        </connector>
        <inputReference>first_subscription</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Entity_Subscription_Record</name>
        <label>Get All Entity Subscription Record</label>
        <locationX>450</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Elements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_teammember.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting existing entity subscriptions for this combination of a user ID and a project ID</description>
        <name>Get_Existing_SubscriptionEntity_Records</name>
        <label>Get Existing SubscriptionEntity Records</label>
        <locationX>492</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_sObj_Existing_Subscription_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_teammember.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_teammember.User__c</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>sObj_Existing_Subscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Entity_Subscription_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count_subscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>first_subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <description>Existing EntitySubscription record</description>
        <name>sObj_Existing_Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <description>Variable that will store the Project Team Member information, including User Record ID and Project Record ID</description>
        <name>sObj_teammember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Team_Member__c</objectType>
    </variables>
</Flow>
