force-app/main/default/flows/Flow_Project_Indicator_Quick_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>1098</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>Coll_CatalogueIndicatorIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Catalogue_Indicator.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Catalogue_Indicator</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Add_from_Catalogue</name>
        <choiceText>Add Indicator from Catalogue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalogue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Annual</name>
        <choiceText>Annual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Calculated</name>
        <choiceText>Calculated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calculated</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Create_Custom_Indicator</name>
        <choiceText>Create a new custom Indicator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Input</name>
        <choiceText>Input</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Input</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LifeOfProject</name>
        <choiceText>Life of Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Life of Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Milestone</name>
        <choiceText>Milestone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_Number</name>
        <choiceText>Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Percent</name>
        <choiceText>Percent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percent</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Qualitative</name>
        <choiceText>Qualitative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualitative</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_SemiAnnual</name>
        <choiceText>Semi-Annual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Annual</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Chosen</name>
        <label>Action Chosen</label>
        <locationX>736</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Custom_Indicator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_ation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Create_Custom_Indicator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indicator_Basic_Info</targetReference>
            </connector>
            <label>Custom Indicator</label>
        </rules>
        <rules>
            <name>Catalogue_Indicator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_ation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Add_from_Catalogue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Catalogue_Indicators</targetReference>
            </connector>
            <label>Catalogue Indicator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indicator_Data_Type_Chosen</name>
        <label>Indicator Data Type Chosen?</label>
        <locationX>1290</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Create_Project_Indicator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantitative</defaultConnectorLabel>
        <rules>
            <name>Qualitative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Qualitative</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Indicator_0_0_0</targetReference>
            </connector>
            <label>Qualitative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Indicator_IDs_Decision</name>
        <label>Set Indicator IDs Decision</label>
        <locationX>1621</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Get_Catalogue_Indicator_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Later</defaultConnectorLabel>
        <rules>
            <name>Set_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Indicator_IDs_Now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Catalogue_Indicator_Details</targetReference>
            </connector>
            <label>Set Now</label>
        </rules>
    </decisions>
    <formulas>
        <name>fx_Default_GA_Disaggregation</name>
        <dataType>String</dataType>
        <expression>IF({!Get_RecordTypeID.Name} = &quot;Grant&quot;, &quot;Country&quot;, &quot;Programme&quot;)</expression>
    </formulas>
    <formulas>
        <name>fx_Indicator_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Result_Statement_ID.Order_ID__c} &amp; {!Indicator_Order_Letter} &amp; &quot;) &quot; &amp; {!Indicator_Description}</expression>
    </formulas>
    <formulas>
        <name>fx_Indicator_Unique_ID</name>
        <dataType>String</dataType>
        <expression>{!recordId} &amp; &quot;-&quot; &amp; {!For_Each_Selected_Catalogue_Indicator}</expression>
    </formulas>
    <formulas>
        <name>fx_Source_of_Indicator_TextConverted</name>
        <dataType>String</dataType>
        <expression>IF({!Set_Indicator_IDs_Now}, 
TEXT({!Get_Catalogue_Indicator_Details.Source_of_Indicator__c}), TEXT({!Get_Catalogue_Indicator_Details_0.Source_of_Indicator__c})
)</expression>
    </formulas>
    <interviewLabel>Flow_Project_Indicator_QuickCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Indicator (from Result Statement)</label>
    <loops>
        <name>For_each_Catalogue_Indicator</name>
        <label>For each Catalogue Indicator</label>
        <locationX>1094</locationX>
        <locationY>615</locationY>
        <collectionReference>Get_Catalogue_Indicators</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_From_Catalogue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Catalogue_Indicator</name>
        <label>For Each Selected Catalogue Indicator</label>
        <locationX>1628</locationX>
        <locationY>626</locationY>
        <collectionReference>coll_CatalogueIndicatorIDsSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Indicator_IDs_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refresh_Page_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Indicator</name>
        <label>Create Indicator</label>
        <locationX>1177</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>Indicator_Data_Type_Chosen</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Aim__c</field>
            <value>
                <stringValue>Increase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <stringValue>Sum Total</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Data_Source__c</field>
            <value>
                <elementReference>Source_of_Verification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Data_Type__c</field>
            <value>
                <elementReference>Data_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Indicator_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <stringValue>Programme</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Include_In_Catalog__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Indicator_Level__c</field>
            <value>
                <stringValue>Output</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Targets_Are_Disaggregated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type__c</field>
            <value>
                <stringValue>Custom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>Type_of_Results</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Indicator</name>
        <label>Create Project Indicator</label>
        <locationX>1285</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Order_Letter__c</field>
            <value>
                <elementReference>Indicator_Order_Letter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Objective__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Verification__c</field>
            <value>
                <elementReference>Source_of_Verification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Baseline__c</field>
            <value>
                <elementReference>Baseline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <stringValue>Sum Total</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Catalog_Indicator__c</field>
            <value>
                <elementReference>Create_Indicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Indicator_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <elementReference>fx_Default_GA_Disaggregation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.ampi__Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_LOP__c</field>
            <value>
                <elementReference>Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Targets_Are_Disaggregated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>Type_of_Results</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Indicator_0</name>
        <label>Create Project Indicator</label>
        <locationX>2053</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>For_Each_Selected_Catalogue_Indicator</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Catalogue_Source_Unique_ID__c</field>
            <value>
                <elementReference>fx_Indicator_Unique_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Letter__c</field>
            <value>
                <elementReference>Indicator_Order_Letter_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Objective__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Verification__c</field>
            <value>
                <elementReference>fx_Source_of_Indicator_TextConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Calculate_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Catalog_Indicator__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Cross_Disaggregation_by_Sex__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Cross_Disaggregation_by_Sex__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Cumulative__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Cumulative__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Disaggregation_Group__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Disaggregation_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <elementReference>fx_Default_GA_Disaggregation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.ampi__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details.ampi__Type_of_Results__c</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Indicator_0_0</name>
        <label>Create Project Indicator</label>
        <locationX>1377</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>For_Each_Selected_Catalogue_Indicator</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Catalogue_Source_Unique_ID__c</field>
            <value>
                <elementReference>fx_Indicator_Unique_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Letter__c</field>
            <value>
                <elementReference>Indicator_Order_Letter_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Objective__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Verification__c</field>
            <value>
                <elementReference>fx_Source_of_Indicator_TextConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Calculate_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Catalog_Indicator__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Cross_Disaggregation_by_Sex__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Cross_Disaggregation_by_Sex__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Cumulative__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Cumulative__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Disaggregation_Group__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Disaggregation_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <elementReference>fx_Default_GA_Disaggregation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.ampi__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>Get_Catalogue_Indicator_Details_0.ampi__Type_of_Results__c</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Indicator_0_0_0</name>
        <label>Create Project Indicator</label>
        <locationX>1658</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Baseline_Qualitative__c</field>
            <value>
                <elementReference>Baseline_Qualitative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Letter__c</field>
            <value>
                <elementReference>Indicator_Order_Letter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Objective__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Verification__c</field>
            <value>
                <elementReference>Source_of_Verification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Qualitative_LOP__c</field>
            <value>
                <elementReference>Target_Qualitative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <stringValue>Sum Total</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Catalog_Indicator__c</field>
            <value>
                <elementReference>Create_Indicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>Indicator_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <elementReference>fx_Default_GA_Disaggregation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>Get_Result_Statement_ID.ampi__Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Target_Frequency__c</field>
            <value>
                <stringValue>Semi-Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Targets_Are_Disaggregated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>Type_of_Results</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>1282</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Project_Record_Id__c</field>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Publisher_Page__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Subscribers__c</field>
            <value>
                <stringValue>ManageLogFrames,ManageIndicators,SetTargets,AddResults</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__User_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Visualforce_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Refresh_Page_0</name>
        <label>Refresh Page</label>
        <locationX>1944</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ampi__Project_Record_Id__c</field>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Publisher_Page__c</field>
            <value>
                <stringValue>ManageLogFrames</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Subscribers__c</field>
            <value>
                <stringValue>ManageLogFrames,ManageIndicators,SetTargets,AddResults</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__User_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Visualforce_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Catalogue_Indicator_Details</name>
        <label>Get Catalogue Indicator Details</label>
        <locationX>1775</locationX>
        <locationY>883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Indicator_Order_Lettering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Selected_Catalogue_Indicator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Catalogue_Indicator_Details_0</name>
        <label>Get Catalogue Indicator Details</label>
        <locationX>1459</locationX>
        <locationY>882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Indicator_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Selected_Catalogue_Indicator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Catalogue_Indicators</name>
        <label>Get Catalogue Indicators</label>
        <locationX>954</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Catalogue_Indicator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Include_In_Catalog__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Indicator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>181</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Result_Statement_ID.ampi__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeID</name>
        <label>Get RecordTypeID</label>
        <locationX>604</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Chosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result_Statement_ID</name>
        <label>Get Result Statement ID</label>
        <locationX>178</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_From_Catalogue</name>
        <label>Add From Catalogue</label>
        <locationX>1280</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Indicator_IDs_Now</targetReference>
        </connector>
        <fields>
            <name>Add_from_Catalogue_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Add an Indicator from the Catalogue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Catalogue_Indicators</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>ampi__Description_Translated__c,ampi__Geographical_Disaggregation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>Coll_CatalogueIndicatorIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coll_CatalogueIndicatorIDsSelected</assignToReference>
                <name>selectedRowsIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Indicator_IDs_Now</name>
        <label>Add Indicator IDs Now?</label>
        <locationX>1440</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Selected_Catalogue_Indicator</targetReference>
        </connector>
        <fields>
            <name>Set_Indicator_IDs_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Set Indicator IDs now or later?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All Indicators need to have Indicator IDs set (e.g. 1.1a, 1.1b etc.). Do you want to set these IDs now or later? Check the checkbox below if you want to set them now.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Indicator_IDs_Now</name>
            <dataType>Boolean</dataType>
            <fieldText>Set Indicator IDs Now</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm Details</label>
        <locationX>1062</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Indicator</targetReference>
        </connector>
        <fields>
            <name>Confirm_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Confirm Project Indicator details&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Indicator:&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!fx_Indicator_Full_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Data Type:&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!Data_Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Result Statement: &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Result_Statement_ID.ampi__Label__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &quot;Next&quot; to create this Indicator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1742</locationX>
        <locationY>1252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Oops, something went wrong. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may have selected an Indicator from the catalogue which has already been added to the Project. Please be sure to only add Indicators that don&apos;t yet exist for the Project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Record that caused the error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Catalogue_Indicator_Details.ampi__Description__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Catalogue_Indicator_Details_0.ampi__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>1655</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Oops, something went wrong. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact your system administrator to troubleshoot the issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Indicator_Basic_Info</name>
        <label>Indicator Basic Info</label>
        <locationX>953</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <fields>
            <name>Result_Statement_Output</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Result Statement: &lt;/b&gt;{!Get_Result_Statement_ID.ampi__Label__c} - {!Get_Result_Statement_ID.ampi__Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Indicator_Order_Letter</name>
            <dataType>String</dataType>
            <fieldText>Indicator ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the letter in alphabetic order (a, b, c, d...). Use each letter only once&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You may only enter a 1 letter character in this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Indicator_Order_Letter}) = 1 &amp;&amp; NOT(ISNUMBER({!Indicator_Order_Letter}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Indicator_Description</name>
            <dataType>String</dataType>
            <fieldText>Indicator</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Type</name>
            <choiceReferences>choice_Number</choiceReferences>
            <choiceReferences>choice_Percent</choiceReferences>
            <choiceReferences>choice_Qualitative</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_of_Verification</name>
            <fieldText>Source of Verification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a value of less than 1000 characters,&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Source_of_Verification}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Type_of_Results</name>
            <choiceReferences>choice_Input</choiceReferences>
            <choiceReferences>choice_Calculated</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Input</defaultSelectedChoiceReference>
            <fieldText>Type of Results</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select &quot;Input&quot; if you plan to enter the Results yourself. Select &quot;Calculated&quot; if you want the Result to be calculated using a formula.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Baseline</name>
            <dataType>Number</dataType>
            <fieldText>Baseline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Number</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Percent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Target</name>
            <dataType>Number</dataType>
            <fieldText>Life of Project Target</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Number</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Percent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Baseline_Qualitative</name>
            <dataType>String</dataType>
            <fieldText>Baseline</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Inputs are limited to 255 characters.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Inputs are limited to 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Baseline_Qualitative}) &lt;= 255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Qualitative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Target_Qualitative</name>
            <dataType>String</dataType>
            <fieldText>Life of Project Target</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Inputs are limited to 255 characters.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Inputs are limited to 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Target_Qualitative}) &lt;= 255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Data_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Qualitative</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Indicator_Order_Lettering</name>
        <label>Set Indicator Order Lettering</label>
        <locationX>1937</locationX>
        <locationY>883</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Project_Indicator_0</targetReference>
        </connector>
        <fields>
            <name>Indicator_Name_Output</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Set an Indicator ID&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Indicator:&lt;/b&gt; {!Get_Catalogue_Indicator_Details.ampi__Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Indicator_Order_Letter_0</name>
            <dataType>String</dataType>
            <fieldText>Indicator ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter the letter ordering for the indicator, i.e. a, b, c, d, etc..&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You may only enter a 1 letter character in this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Indicator_Order_Letter_0}) = 1 &amp;&amp; NOT(ISNUMBER({!Indicator_Order_Letter_0}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Flow</name>
        <label>Start Flow</label>
        <locationX>447</locationX>
        <locationY>555</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordTypeID</targetReference>
        </connector>
        <fields>
            <name>Start_Flow_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;What do you want to do?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_ation</name>
            <choiceReferences>choice_Add_from_Catalogue</choiceReferences>
            <choiceReferences>choice_Create_Custom_Indicator</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>953</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Start_Flow</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Project Indicators successfully created. &lt;/b&gt;Click next to create another indicator for this result, or click &quot;x&quot; in the top-right to stop. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>2082</locationX>
        <locationY>572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Start_Flow</targetReference>
        </connector>
        <fields>
            <name>Success_Message_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Project Indicators successfully created. &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click next to create another indicator for this result, or click &quot;x&quot; in the top-right to stop. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Get_Result_Statement_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Coll_CatalogueIndicatorIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_CatalogueIndicatorIDsSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_SelectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sColl_Project_Indicators_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Indicator__c</objectType>
    </variables>
    <variables>
        <name>sObj_Project_Indicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Indicator__c</objectType>
    </variables>
    <variables>
        <name>var_Loop_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
