force-app/main/default/flows/Flow_Create_Project_Risk_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Interface for quickly creating Risk Review (ampi__Risk_Assessment__c) records for a Project by selecting the Reporting Period and Template for the Risk Review.</description>
    <dynamicChoiceSets>
        <name>Monitoring_Periods</name>
        <dataType>String</dataType>
        <displayField>ampi__Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ampi__Reporting_Period__c</object>
        <outputAssignments>
            <assignToReference>var_Monitoring_Period_Label</assignToReference>
            <field>ampi__Label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Due_Date</assignToReference>
            <field>ampi__Reporting_Period_End_Date__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Submission_Templates</name>
        <dataType>String</dataType>
        <displayField>ampi__Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fx_Submission_Template_RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Description__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Risk Review</stringValue>
            </value>
        </filters>
        <object>ampi__Submission__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fx_Risk_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Record.Project_ID_Text__c} &amp; &quot; Risk Review - &quot; &amp; {!var_Monitoring_Period_Label}</expression>
    </formulas>
    <formulas>
        <name>fx_Submission_Template_RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Submission_Template_RecordTypeID}</expression>
    </formulas>
    <interviewLabel>Flow_Create_Risk_Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Create_Project_Risk_Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Risk_Review</name>
        <label>Create Risk Review</label>
        <locationX>524</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>var_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_Risk_Review_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Review_Template__c</field>
            <value>
                <elementReference>Choose_a_Risk_Review_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Reporting_Period__c</field>
            <value>
                <elementReference>Monitoring_Period_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Monitoring_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Monitoring_Period</name>
        <label>Select Monitoring Period</label>
        <locationX>339</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Risk_Review</targetReference>
        </connector>
        <fields>
            <name>Create_a_Risk_Review</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Create a Risk Review&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Monitoring_Period_Picklist</name>
            <choiceReferences>Monitoring_Periods</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Monitoring Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If no options appear here then you need to first create your monitoring periods. There are 2 ways for doing this:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1) Go to the &quot;Setup&quot; tab above and click the &quot;New&quot; button next to Monitoring Periods, or...&lt;/p&gt;&lt;p&gt;2) Click the &quot;Create Monitoring Periods&quot; button at the top of the page.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_a_Risk_Review_Template</name>
            <choiceReferences>Submission_Templates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Risk Review Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>686</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Project Risk Review succesfully created. Please click the &quot;Finish&quot; button and then scroll down to see the new record in the related list. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Due_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Monitoring_Period_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
