force-app/main/default/flows/Generates_New_Code_for_Programmes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_max_code_value_to_array</name>
        <label>Assign max code value to array</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>max_collection_value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_programme_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_new_code</name>
        <label>Assigned new code</label>
        <locationX>336</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>code_converted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_programme_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_higher_to_one_NOP</name>
        <label>set higher to one on NOP</label>
        <locationX>578</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.9990001E7</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_higher_to_one_programme</name>
        <label>set higher to one on Programmes</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_programme_higher_number_to_one</name>
        <label>Set programme higher number to one</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_higher_than</name>
        <label>is higher than?</label>
        <locationX>468</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get_highest_programme_code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>code_converted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_highest_programme_code.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Program_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_new_code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_higher_than_zero</name>
        <label>is higher than zero?</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Is_Programme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_programme_higher_number_to_one</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Programme</name>
        <label>Is Programme?</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>set_higher_to_one_NOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is National Office Programmes</defaultConnectorLabel>
        <rules>
            <name>Yes_Programme_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_highest_programme_code.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_higher_to_one_programme</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>code_converted</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_highest_programme_code.Code__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>end_highest_code</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT({!highest_code}), 8, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Generates New Code for Programmes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generates New Code for Programmes</label>
    <loops>
        <name>Get_highest_programme_code</name>
        <label>Get highest programme code</label>
        <locationX>248</locationX>
        <locationY>551</locationY>
        <collectionReference>max_collection_value</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_higher_than</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_higher_than_zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Codes</name>
        <label>Get Codes</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_max_code_value_to_array</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programme</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Geographical_Area__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Program_Type__c</queriedFields>
        <sortField>Code__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_value_code</name>
        <label>update value code</label>
        <locationX>248</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>end_highest_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>region_code_registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Codes</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programme</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programme</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Office Programme</stringValue>
            </value>
        </filters>
        <object>ampi__Geographical_Area__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>highest_code</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>max_collection_value</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Geographical_Area__c</objectType>
    </variables>
</Flow>
