force-app/main/default/flows/Generates_New_Code_for_Organisation_NMUs_or_PUs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_max_code_value_to_array</name>
        <label>Assign max code value to array</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>max_col_value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_new_code</name>
        <label>Assigned new code</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>code_converted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set</name>
        <label>Set R0600001</label>
        <locationX>842</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>600001.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NMU_to_600000</name>
        <label>Set NMU to 600000</label>
        <locationX>138</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>600000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_pu_higher_number_to_one</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PU_700000</name>
        <label>Set PU 700000</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>700000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_pu_higher_number_to_one</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_pu_higher_number_to_one</name>
        <label>Set p&amp;pu higher number to one</label>
        <locationX>270</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_R0700001</name>
        <label>Set R0700001</label>
        <locationX>1106</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>700001.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_higher_than</name>
        <label>is higher than?</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get_highest_code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>code_converted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_highest_code.ampi__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ampi__Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_new_code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_higher_than_600000</name>
        <label>Is higher than 600000?</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Set_NMU_to_600000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NMU_600000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>600000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_pu_higher_number_to_one</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_higher_than_700000</name>
        <label>Is higher than 700000?</label>
        <locationX>490</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Set_PU_700000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PU_700000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>700000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_pu_higher_number_to_one</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_higher_than_zero</name>
        <label>is higher than zero?</label>
        <locationX>622</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>is_NMU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_NMU_Higher_One</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_NMU</name>
        <label>is NMU?</label>
        <locationX>974</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Set_R0700001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NMU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ampi__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Management Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_NMU_Higher_One</name>
        <label>is NMU?</label>
        <locationX>270</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Is_higher_than_700000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NMU_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ampi__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Management Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_higher_than_600000</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>code_converted</name>
        <dataType>Number</dataType>
        <expression>{!Get_highest_code.Code_Number__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>end_highest_code</name>
        <dataType>String</dataType>
        <expression>&apos;R&apos; + LPAD(TEXT({!highest_code}), 7, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Generates New Code for Organisation NMUs or PUs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generates New Code for Organisation NMUs or PUs</label>
    <loops>
        <name>Get_highest_code</name>
        <label>Get highest code</label>
        <locationX>622</locationX>
        <locationY>551</locationY>
        <collectionReference>max_col_value</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_higher_than</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_higher_than_zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Codes</name>
        <label>Get Codes</label>
        <locationX>622</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_max_code_value_to_array</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ampi__Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Geographical_Area__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>ampi__Type__c</queriedFields>
        <queriedFields>Code_Number__c</queriedFields>
        <sortField>Code_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_value_code</name>
        <label>update value code</label>
        <locationX>622</locationX>
        <locationY>1991</locationY>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>end_highest_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>region_code_registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Codes</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Management Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programme Unit</stringValue>
            </value>
        </filters>
        <object>ampi__Geographical_Area__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>highest_code</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>max_col_value</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Geographical_Area__c</objectType>
    </variables>
</Flow>
