force-app/main/default/flows/Generates_New_Legacy_ID_Code_for_Construction_Projects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_legacy_ID</name>
        <label>set legacy ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Legacy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>final_code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>code_converted</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE(IF(ISNULL({!Get_Codes.Legacy_ID__c}), &apos;0&apos;, {!Get_Codes.Legacy_ID__c}), &apos;C2&apos;, &apos;&apos;), &apos;C&apos;, &apos;&apos;)) + IF(ISNULL({!Get_Codes.Legacy_ID__c}), 1, 500)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>final_code</name>
        <dataType>String</dataType>
        <expression>&apos;C2&apos; + LPAD(TEXT({!code_converted}), 6, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Generates New Legacy ID Code for Construction Projects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generates New Legacy ID Code for Construction Projects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Codes</name>
        <label>Get Codes</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_legacy_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127T000000L2bHQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Construction project for base records</stringValue>
            </value>
        </filters>
        <filters>
            <field>Legacy_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Legacy_ID__c</queriedFields>
        <sortField>Legacy_ID__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_value_code</name>
        <label>update value code</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Legacy_ID__c</field>
            <value>
                <elementReference>final_code</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127T000000L2bHQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Construction project for base records</stringValue>
            </value>
        </filters>
        <object>ampi__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
