force-app/main/default/flows/Generates_New_Code_for_Organisation_GSC_MA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_max_code_value_to_array</name>
        <label>Assign max code value to array</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>max_collection_value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_organisation_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_new_code</name>
        <label>Assigned new code</label>
        <locationX>270</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>code_converted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_highest_organisation_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_higher_to_one_organisation</name>
        <label>set higher to one on Organisations</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_organisation_higher_number_to_one</name>
        <label>Set organisation higher number to one</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>highest_code</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_value_code</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MA</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>is_higher_than</name>
        <label>is higher than?</label>
        <locationX>402</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get_highest_organisation_code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>code_converted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_new_code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_higher_than_zero</name>
        <label>is higher than zero?</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>set_higher_to_one_organisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>highest_code</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_organisation_higher_number_to_one</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>code_converted</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_highest_organisation_code.Code__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>end_highest_code</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT({!highest_code}), 5, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Generates New Code for Organisation GSC or MA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generates New Code for Organisation GSC or MA</label>
    <loops>
        <name>Get_highest_organisation_code</name>
        <label>Get highest organisation code</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <collectionReference>max_collection_value</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_higher_than</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_higher_than_zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Codes</name>
        <label>Get Codes</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_max_code_value_to_array</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_GSC</elementReference>
            </value>
        </filters>
        <filters>
            <field>Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_MA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <sortField>Code__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_value_code</name>
        <label>update value code</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>end_highest_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>code_registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Codes</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000cDnaAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000cDnZAAU</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>highest_code</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>max_collection_value</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordTypeId_GSC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0121i000000cDnaAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeId_MA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0121i000000cDnZAAU</stringValue>
        </value>
    </variables>
</Flow>
