force-app/main/default/flows/Last_Day_Notification_Location_Security_Risk_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_weekly_notification</name>
        <label>Send Emails weekly notification</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>body_text_days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_text</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Approver_to_Email_Collection</name>
        <label>Set Approver to Email Collection</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exists_Reviewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reviewer_to_Email_Collection</name>
        <label>Set Reviewer to Email Collection</label>
        <locationX>50</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contain_Emails</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2022-03-01</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Contain_Emails</name>
        <label>Contain Emails?</label>
        <locationX>182</locationX>
        <locationY>948</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails_weekly_notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Approver</name>
        <label>Exists Approver</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Exists_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_Approver</name>
            <conditionLogic>4 AND 3 AND 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_to_Email_Collection</targetReference>
            </connector>
            <label>Add Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Reviewer</name>
        <label>Exists Reviewer</label>
        <locationX>182</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Contain_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Reviewer</name>
            <conditionLogic>3 AND 4 AND 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reviewer_to_Email_Collection</targetReference>
            </connector>
            <label>Add Reviewer</label>
        </rules>
    </decisions>
    <formulas>
        <name>body_text_days</name>
        <dataType>String</dataType>
        <expression>&apos;Dear User, this is the reminder message that Anual Refresh of Location Security Risk Assessment and National Security Context will need to be finished soon. Deadline: March 1st, You have: last chance today &apos;</expression>
    </formulas>
    <interviewLabel>Last Day Notification Location Security Risk Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Last Day Notification Location Security Risk Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <inputAssignments>
            <field>Email_Notification__c</field>
            <value>
                <elementReference>notification_text_updated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Exists_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>ampi__Risk_Register__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-02-28</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Email 1st</description>
        <name>body_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dear User, this is the reminder message that Anual Refresh of Location Security Risk Assessment and National Security Context will need to be finished soon. Deadline: March 1st, You have: 4 weeks to go</stringValue>
        </value>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notification_text_updated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.Email_Notification__c} + &apos;/&apos; + {!$Calculate_Period}</stringValue>
        </value>
    </variables>
    <variables>
        <name>subject_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Notification about Anual Refresh of Location Security Risk Assessment and National Security Context</stringValue>
        </value>
    </variables>
</Flow>
