force-app/main/default/flows/MA_Portal_Object_Access_Controller.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Access_Allowed</name>
        <label>Access Allowed?</label>
        <locationX>178</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>var_CreateAccessAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Project_Contributor_Role_Found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Object</name>
        <label>Object?</label>
        <locationX>342</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Lesson_Learned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesson_Learned__c</stringValue>
                </rightValue>
            </conditions>
            <label>Lesson Learned</label>
        </rules>
        <rules>
            <name>SOS_DAC_Code_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOS_DAC_Code_Tag__c</stringValue>
                </rightValue>
            </conditions>
            <label>SOS/DAC Code Tag</label>
        </rules>
        <rules>
            <name>P_PU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D365_Project_Stand_in__c</stringValue>
                </rightValue>
            </conditions>
            <label>P&amp;PU</label>
        </rules>
        <rules>
            <name>Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ampi__Risk__c</stringValue>
                </rightValue>
            </conditions>
            <label>Risk</label>
        </rules>
    </decisions>
    <formulas>
        <name>fx_Project_Contributor_Role_Found</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!Look_for_Project_Role.Id}))</expression>
    </formulas>
    <interviewLabel>MA Portal Object Access Controller {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MA Portal Object Access Controller</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_for_Project_Role</name>
        <label>Look for Project Role</label>
        <locationX>176</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Access_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Contributor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Look_for_Project_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObj_Related_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project__c</objectType>
    </variables>
    <variables>
        <name>var_CreateAccessAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
