force-app/main/default/flows/MA_Portal_Create_Permission_Controller_Lesson_Learned.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Create_Access_Allowed</name>
        <label>Create Access Allowed?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Trigger_Validation_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Project_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fx_Create_Access_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>OR(
NOT(ISBLANK({!Look_for_Project_Role.Id})),
{!$User.Id} = {!$Record.Project__r.OwnerId}, 
{!$Profile.Name} &lt;&gt; &quot;Project Contributor&quot; &amp;&amp; {!$Profile.Name} &lt;&gt; &quot;National PM/Director&quot;)</expression>
    </formulas>
    <formulas>
        <name>fx_New_Record_By_Portal_User</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$User.Id} &lt;&gt; {!$Record.Project__r.OwnerId},
{!$Profile.Name} = &quot;Project Contributor&quot; || {!$Profile.Name} = &quot;National PM/Director&quot;
)</expression>
    </formulas>
    <interviewLabel>MA Portal Create Permission Controller - Lesson Learned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MA Portal Create Permission Controller - Lesson Learned</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_for_Project_Role</name>
        <label>Look for Project Role</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Access_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Contributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_Validation_Rule</name>
        <label>Trigger Validation Rule</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Block_Record_Creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_for_Project_Role</targetReference>
        </connector>
        <object>Lesson_Learned__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
