force-app/main/default/flows/NA_Risk_Review_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Risks_Review</name>
        <label>Update Risks Review</label>
        <locationX>820</locationX>
        <locationY>655</locationY>
        <actionName>TranslateRiskReviewInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_user_language_is</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_NA_Reviewer_into_Collection</name>
        <label>Add NA Reviewer into Collection</label>
        <locationX>366</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>naReviewer_currentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_Review_National_Security_Context.National_Association__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NA_Reviewer_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sysadmin_to_Na_Review_Email</name>
        <label>Set Sysadmin to Na Review Email</label>
        <locationX>627</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>naReviewer_currentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_user_language_is</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OverrideResponses</name>
        <choiceText>Override Responses</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TranslateCurrentResponses</name>
        <choiceText>Translate Current Responses</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Risk_Review_Language</name>
        <label>Check Risk Review Language</label>
        <locationX>222</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Language</defaultConnectorLabel>
        <rules>
            <name>Is_Same_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Review_Info.Language_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserLanguage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_user_language_is</targetReference>
            </connector>
            <label>Is Same Language?</label>
        </rules>
        <rules>
            <name>Is_New_NA_Risk_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Review_Info.Language_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_user_language_is</targetReference>
            </connector>
            <label>Is New NA Risk Review?</label>
        </rules>
        <rules>
            <name>Is_Current_Language_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserLanguage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Risk_Review_Info.Language_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_user_language_is</targetReference>
            </connector>
            <label>Is Current Language Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_to_deal_with_translation_conflict</name>
        <label>How to deal with translation conflict</label>
        <locationX>506</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Which_user_language_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Override Responses</defaultConnectorLabel>
        <rules>
            <name>Translate_Responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResolveConflict</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TranslateCurrentResponses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Risks_Review</targetReference>
            </connector>
            <label>Translate Responses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NA_Reviewer_Assigned</name>
        <label>Is NA Reviewer Assigned?</label>
        <locationX>514</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>No_NA_Reviewer_assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>naReviewer_currentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_user_language_is</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
        <rules>
            <name>Is_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sysadmin_to_Na_Review_Email</targetReference>
            </connector>
            <label>Is System Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_user_language_is</name>
        <label>Which user language is?</label>
        <locationX>508</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>NA_Risk_Review_Flow_English_V2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Risk_Review_Flow_Spanish_V2</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Risk_Review_Flow_French_V2</targetReference>
            </connector>
            <label>French</label>
        </rules>
        <rules>
            <name>Russian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Risk_Review_Flow_Russian_V2</targetReference>
            </connector>
            <label>Russian</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Conflict</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conflict</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>ConflictResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConflictScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CrimeSecurity</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crime &amp; Security</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>CrimeSecurityResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CrimeSecurityScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HumanitarianSpace</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Humanitarian Space</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>HumanitarianSpaceResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HumanitarianSpaceScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Infrastructure</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infrastructure</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>InfrastructureResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InfrastructureScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Kidnap</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kidnap</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>KidnapResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>KidnapScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SocialPolitical</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social &amp; Political</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>SocialPoliticalResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SocialPoliticalScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Terrorism</name>
        <dataType>String</dataType>
        <displayField>Description_English__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terrorism</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>TerrorismResponse</assignToReference>
            <field>Description_English__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TerrorismScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_English__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserLanguage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$User.LanguageLocaleKey})),&apos;en&apos;, CASE(LEFT(TEXT({!$User.LanguageLocaleKey}), 2), &apos;es&apos;, &apos;es&apos;, &apos;fr&apos;, &apos;fr&apos;, &apos;ru&apos;, &apos;ru&apos;,&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>NA Risk Review Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NA Risk Review Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Risk_Review_Info</name>
        <label>Get Risk Review Info</label>
        <locationX>50</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Risk_Review_Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Review_National_Security_Context</name>
        <label>Risk Review: National Security Context</label>
        <locationX>230</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_NA_Reviewer_into_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>224</locationX>
        <locationY>667</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>How_to_deal_with_translation_conflict</targetReference>
        </connector>
        <fields>
            <name>ConvertResponses</name>
            <fieldText>&lt;p&gt;Do you have responses in other language, please choose the option to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResolveConflict</name>
            <choiceReferences>TranslateCurrentResponses</choiceReferences>
            <choiceReferences>OverrideResponses</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TranslateCurrentResponses</defaultSelectedChoiceReference>
            <fieldText>ResolveConflict</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_NA_Reviewer_assigned</name>
        <label>No NA Reviewer assigned</label>
        <locationX>662</locationX>
        <locationY>28</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtitle_one</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(233, 234, 246); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_NA_Reviewer_assigned</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;There is no &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Risk Reviewer &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;assigned to this MA or you are not the &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Risk Reviewer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>104</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Risk_Review_National_Security_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>NA_Risk_Review_Flow_English_V2</name>
        <label>NA Risk Review Flow English V2</label>
        <locationX>912</locationX>
        <locationY>111</locationY>
        <flowName>NA_Risk_Review_Flow_English_V2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NA_Risk_Review_Flow_French_V2</name>
        <label>NA Risk Review Flow French V2</label>
        <locationX>916</locationX>
        <locationY>195</locationY>
        <flowName>NA_Risk_Review_Flow_French_V2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NA_Risk_Review_Flow_Russian_V2</name>
        <label>NA Risk Review Flow Russian V2</label>
        <locationX>918</locationX>
        <locationY>304</locationY>
        <flowName>NA_Risk_Review_Flow_Russian_V2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NA_Risk_Review_Flow_Spanish_V2</name>
        <label>NA Risk Review Flow Spanish V2</label>
        <locationX>914</locationX>
        <locationY>417</locationY>
        <flowName>NA_Risk_Review_Flow_Spanish_V2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>error_text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;font-size: 14px; color: white; background-color: red; font-weight: bold; width: 100%; text-align: center; border-radius: 5px !important; &quot;&gt;Unsufficient Rights to Edit&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ConflictResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConflictScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CrimeSecurityResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CrimeSecurityScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HumanitarianSpaceResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HumanitarianSpaceScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InfrastructureResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfrastructureScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>KidnapResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KidnapScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>naReviewer_currentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SocialPoliticalResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SocialPoliticalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TerrorismResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerrorismScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
