force-app/main/default/flows/NA_Risk_Review_Flow_Russian.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Risk_Review_Set</name>
        <label>Risk Review Set</label>
        <locationX>670</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Social_Political_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsSocialPolitical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Conflict_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsConflict</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Crime_Security_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsCrimeSecurity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Humanitarian_Space_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsHumanitarianSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Infrastructure_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfrastructureComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Kidnap_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsKidnap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Terrorism_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsTerrorism</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Social_Political_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialPoliticalResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Conflict_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConflictResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Crime_Security_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CrimeSecurityResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Humanitarian_Space_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HumanitarianSpaceResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Kidnap_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KidnapResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Terrorism_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerrorismResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Conflict_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConflictScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Crime_Security_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CrimeSecurityScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Humanitarian_Space_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HumanitarianSpaceScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Infrastructure_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfrastructureScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Kidnap_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KidnapScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Social_Political_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialPoliticalScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Terrorism_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerrorismScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review.Infrastructure_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfrastructureResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Review</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Conflict</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conflict</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>ConflictResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConflictScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CrimeSecurity</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crime &amp; Security</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>CrimeSecurityResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CrimeSecurityScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HumanitarianSpace</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Humanitarian Space</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>HumanitarianSpaceResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HumanitarianSpaceScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Infrastructure</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infrastructure</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>InfrastructureResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InfrastructureScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Kidnap</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kidnap</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>KidnapResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>KidnapScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SocialPolitical</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social &amp; Political</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>SocialPoliticalResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SocialPoliticalScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Terrorism</name>
        <dataType>String</dataType>
        <displayField>Description_Russian__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terrorism</stringValue>
            </value>
        </filters>
        <object>NA_Risk_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>TerrorismResponse</assignToReference>
            <field>Description_Russian__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TerrorismScore</assignToReference>
            <field>Score__c</field>
        </outputAssignments>
        <sortField>Score__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Description_Russian__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>NA Risk Review Flow Russian {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NA Risk Review Flow Russian</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Risk_Review</name>
        <label>Get Risk Review</label>
        <locationX>144</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_the_NA_Matrix_Survery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Review</name>
        <label>Update Risk Review</label>
        <locationX>670</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Risk_Review_Updated_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Risk_Review</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>461</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Что-то пошло не так...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_the_NA_Matrix_Survery</name>
        <label>Fill the NA Matrix Survery</label>
        <locationX>436</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Risk_Review_Set</targetReference>
        </connector>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Social_Political</name>
                    <choiceReferences>SocialPolitical</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Social_Political_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Social &amp; Political</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsSocialPolitical</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Social_Political_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Crime_Security</name>
                    <choiceReferences>CrimeSecurity</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Crime_Security_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Crime &amp; Security</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsCrimeSecurity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Crime_Security_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conflict_RB</name>
                    <choiceReferences>Conflict</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Conflict_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Conflict</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsConflict</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Conflict_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TerrorismRB</name>
                    <choiceReferences>Terrorism</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Terrorism_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Terrorism</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsTerrorism</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Terrorism_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KidnapRB</name>
                    <choiceReferences>Kidnap</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Kidnap_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Kidnap</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsKidnap</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Kidnap_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Humanitarian_Space</name>
                    <choiceReferences>HumanitarianSpace</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Humanitarian_Space_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Humanitarian Space</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CommentsHumanitarianSpace</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Humanitarian_Space_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_the_NA_Matrix_Survery_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_NA_Matrix_Survery_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InfrastructureRB</name>
                    <choiceReferences>Infrastructure</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Infrastructure_Response__c</elementReference>
                    </defaultValue>
                    <fieldText>Infrastructure</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>InfrastructureComments</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk_Review.Infrastructure_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Risk_Review_Updated_Success</name>
        <label>Risk Review Updated Success</label>
        <locationX>894</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Risk_Review_Updated_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Оценка рисков успешно обновлена!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Get_Risk_Review</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConflictResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConflictScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CrimeSecurityResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CrimeSecurityScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HumanitarianSpaceResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HumanitarianSpaceScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InfrastructureResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfrastructureScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>KidnapResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KidnapScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SocialPoliticalResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SocialPoliticalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TerrorismResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerrorismScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
