force-app/main/default/flows/POC_Generate_Reporting_Periods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Reporting_Period_to_Collection</name>
        <label>Add Reporting Period to Collection</label>
        <locationX>940</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>sColl_Reporting_Periods_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_Project_Reporting_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RP_mdt_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Project_Reporting_Period</name>
        <label>Build Project Reporting Period</label>
        <locationX>1027</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Reporting_Period_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Reporting_Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Reporting_Period_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Project_Reporting_Period.ampi__Report_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP_mdt_Loop.Report_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reporting_Period_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annual</name>
        <choiceText>Annual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_RPs</name>
        <choiceText>Create Reporting Periods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Reporting Periods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete_All_RPs</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delete All Reporting Periods&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete All Reporting Periods</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Semi_Annual</name>
        <choiceText>Semi-Annual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi-Annual</stringValue>
        </value>
    </choices>
    <constants>
        <name>Picklist_Monthly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </constants>
    <formulas>
        <description>Calculates the number of months between the Start and End Date that the user provided.</description>
        <name>fx_Duration_Months</name>
        <dataType>Number</dataType>
        <expression>MONTH({!End_Date}) - MONTH({!Start_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Takes the User-inputted end date and finds the date of the nearest Reporting Period (rounded up).</description>
        <name>fx_Nearest_Reporting_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF({!Reporting_Frequency} = {!Annual}, DATE(YEAR({!End_Date}), 12, 31), 
IF({!Reporting_Frequency} = {!Quarterly}, 
CASE(CEILING(MONTH({!End_Date}) / 3),
1, DATE(YEAR({!End_Date}), 3, 31),
2, DATE(YEAR({!End_Date}), 6, 30),
3, DATE(YEAR({!End_Date}), 9, 30),
DATE(YEAR({!End_Date}), 12, 31)),
DATE(YEAR(ADDMONTHS({!End_Date}, 1)), MONTH(ADDMONTHS({!End_Date}, 1)), 1) - 1))</expression>
    </formulas>
    <formulas>
        <description>Takes the User-inputted start date and finds the date of the nearest Quarterly Reporting Period (rounded down).</description>
        <name>fx_Nearest_Reporting_Period_Start_Date</name>
        <dataType>Date</dataType>
        <expression>IF({!Reporting_Frequency} = {!Annual}, DATE(YEAR({!Start_Date}), 1, 1), 
IF({!Reporting_Frequency} = {!Quarterly}, 
CASE(CEILING(MONTH({!Start_Date}) / 3),
1, DATE(YEAR({!Start_Date}), 1, 1),
2, DATE(YEAR({!Start_Date}), 4, 1),
3, DATE(YEAR({!Start_Date}), 7, 1),
DATE(YEAR({!Start_Date}), 10, 1)),
DATE(YEAR({!Start_Date}), MONTH({!Start_Date}), 1)))</expression>
    </formulas>
    <formulas>
        <description>Converts the number of days between the Start &amp; End Date to the number of Reporting Periods that must be generated</description>
        <name>fx_Number_of_Periods_to_Create</name>
        <dataType>Number</dataType>
        <expression>CASE({!Reporting_Frequency},
{!Annual}, ROUND(({!fx_Duration_Months}/12)+0.5, 0),
{!Quarterly}, ROUND(({!fx_Duration_Months}/3)+0.5, 0),
{!Monthly}, {!fx_Duration_Months},
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_Quarterly_Days_To_Add</name>
        <dataType>Number</dataType>
        <expression>CASE(MONTH({!var_Date_Incrementer}),
1, 90,
2, 59,
3, 31,
4, 91,
5, 62,
6, 30,
7, 92,
8, 61,
9, 30,
10, 92,
11, 61,
12, 31,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_RP_Label</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Record.Project_ID_Text__c} &amp; &quot; - &quot; &amp; {!RP_mdt_Loop.Label}</expression>
    </formulas>
    <interviewLabel>POC - Generate Reporting Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Monitoring Periods</label>
    <loops>
        <name>RP_mdt_Loop</name>
        <label>For Each RP</label>
        <locationX>834</locationX>
        <locationY>237</locationY>
        <collectionReference>Get_Catalogue_RPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Project_Reporting_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Reporting_Periods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Reporting_Periods</name>
        <label>Insert Reporting Periods</label>
        <locationX>688</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>sColl_Reporting_Periods_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Catalogue_RPs</name>
        <label>Get Catalogue RPs</label>
        <locationX>691</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RP_mdt_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Frequency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Period_End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fx_Nearest_Reporting_Period_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Period_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fx_Nearest_Reporting_Period_Start_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Catalogue_Reporting_Period__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>389</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>689</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Catalogue_RPs</targetReference>
        </connector>
        <fields>
            <name>Output_Text</name>
            <fieldText>&lt;p&gt;You have chosen to create {!fx_Number_of_Periods_to_Create} {!Reporting_Frequency} Reporting Periods, starting from {!Start_Date}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to create these records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select Options</description>
        <name>Select_Options</name>
        <label>Select Options</label>
        <locationX>552</locationX>
        <locationY>84</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <fields>
            <name>Reporting_Frequency</name>
            <choiceReferences>Quarterly</choiceReferences>
            <choiceReferences>Semi_Annual</choiceReferences>
            <choiceReferences>Annual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reporting Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Record.Planned_Implementation_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Your Start Date must be earlier than your End Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &lt; {!End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Record.Planned_Implementation_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your End Date must be later than your Start Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Date} &gt; {!Start_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Project_Dates</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Planned Implementation Start Date: &lt;/b&gt;{!Get_Project_Record.Planned_Implementation_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Planned &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Implementation End Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Project_Record.Planned_Implementation_End_Date__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>689</locationX>
        <locationY>589</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Reporting Periods were successfully created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>46</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sColl_Reporting_Periods_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>sObj_Catalogue_Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>sObj_Project_Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Reporting_Period__c</objectType>
    </variables>
    <variables>
        <name>var_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Date_Incrementer</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
