force-app/main/default/flows/Risk_Register_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mail_Risks_Register_Updated_Successfully</name>
        <label>Mail Risks Register Updated Successfully</label>
        <locationX>1283</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successfully_Updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>naDirector_currentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>naReviewer_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>naDirector_currentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Location Security Risk Assessment Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risks_Register_Updated_Successfully</name>
        <label>Risks Register Updated Successfully</label>
        <locationX>515</locationX>
        <locationY>717</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Risks Register Updated Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>naDirector_users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Risk_Register_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_NA_Director_into_Collection</name>
        <label>Add NA Director into Collection</label>
        <locationX>701</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>naDirector_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Parent_MA__r.NA_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naDirector_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Parent_MA__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naDirector_currentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Parent_MA__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NADirector_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naReviewer_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NA_Director_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_into_Collection</name>
        <label>Add Users into Collection</label>
        <locationX>385</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>naDirector_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status</name>
        <label>update status</label>
        <locationX>955</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Register_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Register_Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Register</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>status_approved</name>
        <choiceText>Aligned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aligned</stringValue>
        </value>
    </choices>
    <choices>
        <name>status_declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>status_revise_needed</name>
        <choiceText>Revision needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revision needed</stringValue>
        </value>
    </choices>
    <constants>
        <name>approved_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contains_Elements</name>
        <label>Contains Elements?</label>
        <locationX>377</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>count_Users</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>naDirector_currentEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Submiting_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_User_Coincidences</name>
        <label>Exists User Coincidences?</label>
        <locationX>50</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NotExistsUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_NA_Director</targetReference>
            </connector>
            <label>Not Exists Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NA_Director_Assigned</name>
        <label>Is NA Director Assigned</label>
        <locationX>505</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Error_NA_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NADirector_exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>naDirector_currentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Email</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Location Security Risk Assessment &apos; + {!Get_Risk_Register_Record.Name} + &apos; from your MA has been updated to status &apos; + text({!Get_Risk_Register_Record.Status__c}) + &apos; successfully&apos;</expression>
    </formulas>
    <interviewLabel>Risk Register Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Security Assessment</label>
    <loops>
        <name>Iterate_Users</name>
        <label>Iterate Users</label>
        <locationX>231</locationX>
        <locationY>482</locationY>
        <collectionReference>Get_User_By_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Users_into_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>1158</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Riks_Register_Status_Updated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Register_Record</name>
        <label>Get Risk Register Record</label>
        <locationX>530</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_NA_Director_into_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Email</name>
        <label>Get User By Email</label>
        <locationX>232</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_User_Coincidences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>naDirector_currentEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Register</name>
        <label>Update Risk Register</label>
        <locationX>1129</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Mail_Risks_Register_Updated_Successfully</targetReference>
        </connector>
        <inputReference>Get_Risk_Register_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>771</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <fields>
            <name>confirmation_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want to {!Status} the &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Arial, sans-serif;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Submiting_Message</name>
        <label>Confirmation Submiting Message</label>
        <locationX>585</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;Please select the status and comments for the &lt;span style=&quot;font-size: 12px; font-family: Arial, sans-serif;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>status_approved</choiceReferences>
            <choiceReferences>status_revise_needed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue>{!Get_Risk_Register_Record.Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>232</locationX>
        <locationY>742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtitle1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(233, 234, 246); font-size: 16px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Unsufficient Rights to Provide Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are not the &lt;/span&gt;Risk Approver &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;on this MA or the System Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_NA_Director</name>
        <label>Error NA Director</label>
        <locationX>425</locationX>
        <locationY>151</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtittle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(233, 234, 246); font-size: 16px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Unsufficient Rights to Provide Approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_Assigned_NA_Director</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no &lt;/span&gt;Risk Approver&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; assigned to this MA or you are not the &lt;/span&gt;Risk Approver&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Updated</name>
        <label>Successfully Updated</label>
        <locationX>1279</locationX>
        <locationY>698</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>saved_message</name>
            <fieldText>&lt;p&gt;Your &lt;span style=&quot;font-size: 12px; font-family: Arial, sans-serif;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;was successfully updated.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please refresh the browser to see the changes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>118</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Risk_Register_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count_Users</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>naDirector_currentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naDirector_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NADirector_exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>naDirector_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naDirector_users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naReviewer_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
