force-app/main/default/flows/Risk_Register_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reloading_to_refresh_page</name>
        <label>Reloading to refresh page</label>
        <locationX>677</locationX>
        <locationY>496</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Risk_Register_has_been_Submitted_Successfully</name>
        <label>Risk Register has been Submitted Successfully</label>
        <locationX>507</locationX>
        <locationY>662</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>programmeReviewer_CurrentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>naSecurityLeader_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>programmeReviewer_CurrentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Location Security Risk Assessment has been Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risks_Register_Submitted_Successfully</name>
        <label>Risks Register Submitted Successfully</label>
        <locationX>198</locationX>
        <locationY>624</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Risks Register Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>programmeReviewer_users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Risk_Register_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Programme_Reviewer_into_Collection</name>
        <label>Add Programme Reviewer into Collection</label>
        <locationX>626</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>programmeReviewer_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Programme_Risk_Reviewer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programmeReviewer_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Programme_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programmeReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Programme_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programmeReview_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naSecurityLeader_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_MA_Collection.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Programme_Reviewer_assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_into_Collection</name>
        <label>Add Users into Collection</label>
        <locationX>1383</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>programmeReviewer_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_users</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sysadmin_to_Programme_Review_Email</name>
        <label>Set Sysadmin to Programme Review Email</label>
        <locationX>818</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>programmeReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programmeReview_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_By_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status</name>
        <label>update status</label>
        <locationX>875</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Register_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>waiting_for_approval_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Register</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>waiting_for_approval_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for approval</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contains_Elements</name>
        <label>Contains Elements?</label>
        <locationX>1218</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>count_users</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>programmeReviewer_CurrentEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Submiting_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_users</name>
        <label>Found users?</label>
        <locationX>1371</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Programme_Review</targetReference>
            </connector>
            <label>Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Draft_Status</name>
        <label>Is Draft Status?</label>
        <locationX>330</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Draft</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Register_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Risk_Register_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MA_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Programme_Reviewer_assigned</name>
        <label>Is Programme Reviewer assigned?</label>
        <locationX>804</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Error_Programme_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programmeReview_exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programmeReviewer_CurrentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Email</targetReference>
            </connector>
            <label>Yes, is assigned</label>
        </rules>
        <rules>
            <name>Is_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sysadmin_to_Programme_Review_Email</targetReference>
            </connector>
            <label>Is System Administrator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Location Security Risk Assessment named  &apos; + {!Get_Risk_Register_Record.Name} + &apos; has been submitted successfully. You can check the information to proceed with the approval. &apos;</expression>
    </formulas>
    <interviewLabel>Risk Register Submitted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Security Assessment Submit</label>
    <loops>
        <name>Iterate_MA_Collection</name>
        <label>Iterate MA Collection</label>
        <locationX>634</locationX>
        <locationY>336</locationY>
        <collectionReference>Get_MA_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Programme_Reviewer_into_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_Users</name>
        <label>Iterate Users</label>
        <locationX>1538</locationX>
        <locationY>412</locationY>
        <collectionReference>Get_User_By_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Users_into_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Custom_Notification_Type</name>
        <label>Custom Notification Type</label>
        <locationX>486</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risks_Register_Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MA_Info</name>
        <label>Get MA Info</label>
        <locationX>486</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_MA_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Risk_Register_Record.Programme__r.Parent_MA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Register_Record</name>
        <label>Get Risk Register Record</label>
        <locationX>175</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Draft_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Register__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Email</name>
        <label>Get User By Email</label>
        <locationX>1184</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programmeReviewer_CurrentEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Register</name>
        <label>Update Risk Register</label>
        <locationX>697</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>Risk_Register_has_been_Submitted_Successfully</targetReference>
        </connector>
        <inputReference>Get_Risk_Register_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Submiting_Message</name>
        <label>Confirmation Submiting Message</label>
        <locationX>1042</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;Are you sure you want to submit the &lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12px;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;? After you submit, you won&apos;t be able to do any changes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1427</locationX>
        <locationY>658</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_text_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!error_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_MEssage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are not the NA Reviewer on this MA&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Programme_Review</name>
        <label>Error Programme Review</label>
        <locationX>1217</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>extra_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_Assigned_Programme_Review</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;There is no P&lt;/span&gt;rogramme &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Reviewer assigned to this P&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;rogramme &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; or you are not the P&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;rogramme &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Reviewer or System Administrator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfully_Submitted</name>
        <label>Successfully Submit</label>
        <locationX>508</locationX>
        <locationY>496</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reloading_to_refresh_page</targetReference>
        </connector>
        <fields>
            <name>saved_message</name>
            <fieldText>&lt;p&gt;Your &lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12px;&quot;&gt;Location Security Risk Assessment&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt; &lt;/span&gt;was successfully submitted.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please refresh the browser to see the changes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_Risk_Register_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>error_text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;font-size: 14px; color: white; background-color: red; font-weight: bold; width: 100%; text-align: center; border-radius: 5px !important; &quot;&gt;Unsufficient Rights to Submit&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyRTE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12px;&quot;&gt;Location Security Risk Assessment&lt;/span&gt; named&amp;nbsp; {!Get_Risk_Register_Record.Name}  has been submitted successfully. &lt;/p&gt;&lt;p&gt;You can check the information to proceed with the approval.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>count_users</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>naSecurityLeader_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programmeReview_exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>programmeReviewer_CurrentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programmeReviewer_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programmeReviewer_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programmeReviewer_users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
