force-app/main/default/flows/Risk_Review_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mail_Risks_Review_Updated_Successfully</name>
        <label>Mail Risks Review Updated Successfully</label>
        <locationX>612</locationX>
        <locationY>685</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>naSecurityLeader_currentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>naReviewer_emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>naSecurityLeader_currentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Risks Review Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risks_Review_Updated_Successfully</name>
        <label>Risks Review Updated Successfully</label>
        <locationX>135</locationX>
        <locationY>691</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Risks Review Updated Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>naSecurityLeader_users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Risk_Review_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_NA_Security_Leader_into_Collection</name>
        <label>Add NA Security Leader into Collection</label>
        <locationX>737</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>naSecurityLeader_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naSecurityLeader_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naSecurityLeader_currentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NASecurityLeader_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naReviewer_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NA_Security_Leader_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_into_Collection</name>
        <label>Add Users into Collection</label>
        <locationX>469</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>naSecurityLeader_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sysadmin_to_Na_Review_Email</name>
        <label>Set Sysadmin to Na Review Email</label>
        <locationX>949</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>naSecurityLeader_currentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NASecurityLeader_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_By_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status</name>
        <label>update status</label>
        <locationX>1100</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Review_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Risk_Review_Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Review</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>status_approved</name>
        <choiceText>Aligned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aligned</stringValue>
        </value>
    </choices>
    <choices>
        <name>status_revision_needed</name>
        <choiceText>Revision needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revision needed</stringValue>
        </value>
    </choices>
    <constants>
        <name>approved_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contains_Elements</name>
        <label>Contains Elements?</label>
        <locationX>459</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>count_Users</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>naSecurityLeader_currentEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Submiting_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_User_Coincidences</name>
        <label>Exist User Coincidences?</label>
        <locationX>643</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Exists_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_NA_Director_assigned</targetReference>
            </connector>
            <label>Not Exists Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NA_Security_Leader_Assigned</name>
        <label>Is NA Security Leader Assigned?</label>
        <locationX>1057</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>No_NA_Director_assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NASecurityLeader_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>naSecurityLeader_currentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Email</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
        <rules>
            <name>Is_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sysadmin_to_Na_Review_Email</targetReference>
            </connector>
            <label>Is System Administrator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Risk Review &apos; + {!Get_Risk_Review_Record.Name} + &apos; from your MA has been updated to status &apos; + text({!Get_Risk_Review_Record.Status__c}) + &apos; successfully&apos;</expression>
    </formulas>
    <interviewLabel>Risk Review Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Review Approval</label>
    <loops>
        <name>Iterate_Users</name>
        <label>Iterate Users</label>
        <locationX>470</locationX>
        <locationY>178</locationY>
        <collectionReference>Get_User_By_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Users_into_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>105</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Riks_Review_Status_Updated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Review_Record</name>
        <label>Get Risk Review Record</label>
        <locationX>559</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_NA_Security_Leader_into_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Email</name>
        <label>Get User By Email</label>
        <locationX>1067</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_User_Coincidences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>naSecurityLeader_currentEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Review</name>
        <label>Update Risk Review</label>
        <locationX>851</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Mail_Risks_Review_Updated_Successfully</targetReference>
        </connector>
        <inputReference>Get_Risk_Review_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1099</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <fields>
            <name>confirmation_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Are you sure you want to {!Status} the Risk Review? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Submiting_Message</name>
        <label>Confirmation Submiting Message</label>
        <locationX>856</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;Please select the status and comments for the Risk Review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>status_approved</choiceReferences>
            <choiceReferences>status_revision_needed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue>{!Get_Risk_Review_Record.Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>247</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You are not the &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Security Leader &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;on this MA or the System Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_NA_Director_assigned</name>
        <label>No NA Director assigned</label>
        <locationX>876</locationX>
        <locationY>118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>subtitle_one</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(36, 36, 36); font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(233, 234, 246);&quot;&gt;{!error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_NA_Director_assigned</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no &lt;/span&gt;Security Leader &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;assigned to this MA or you are not the &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Security Leader &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfully_Submitted</name>
        <label>Successfully Submitted</label>
        <locationX>433</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>saved_message</name>
            <fieldText>&lt;p&gt;Your Risk Review was successfully updated.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please refresh the browser to see the changes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>183</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>Get_Risk_Review_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>error_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;font-size: 14px; color: white; background-color: red; font-weight: bold; width: 100%; text-align: center; border-radius: 5px !important; &quot;&gt;Unsufficient Rights to Provide Approval&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>count_Users</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>naReviewer_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naSecurityLeader_currentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naSecurityLeader_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NASecurityLeader_exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>naSecurityLeader_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naSecurityLeader_users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
