force-app/main/default/flows/Risk_Review_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reloading_to_refresh_actions</name>
        <label>Reloading to refresh actions</label>
        <locationX>227</locationX>
        <locationY>341</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Risk_Review_has_been_Submitted_Successfully</name>
        <label>Risk Review has been Submitted Successfully</label>
        <locationX>671</locationX>
        <locationY>341</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>naReviewer_CurrentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>naDirectorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>naReviewer_CurrentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Risk Review has been Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notificationBodyRTE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risks_Review_Submitted_Successfully</name>
        <label>Risks Review Submitted Successfully</label>
        <locationX>431</locationX>
        <locationY>503</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Info.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Risks Review Submitted Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>naReviewer_users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Risk_Review_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_NA_Reviewer_into_Collection</name>
        <label>Add NA Reviewer into Collection</label>
        <locationX>591</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>naReviewer_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Risk_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naReviewer_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naReview_exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>naDirectorEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NA_Reviewer_assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_into_Collection</name>
        <label>Add Users into Collection</label>
        <locationX>1535</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>naReviewer_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_Elements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sysadmin_to_Na_Review_Email</name>
        <label>Set Sysadmin to Na Review Email</label>
        <locationX>720</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>naReviewer_CurrentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_By_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_status</name>
        <label>update status</label>
        <locationX>1105</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>Get_Risk_Review_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>waiting_for_approval_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Risk_Review</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>waiting_for_approval_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for approval</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contains_Elements</name>
        <label>Contains Elements?</label>
        <locationX>1462</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>count_Users</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>naReviewer_CurrentEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Submiting_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_users</name>
        <label>Found users?</label>
        <locationX>1209</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Iterate_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_NA_Review</targetReference>
            </connector>
            <label>Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Draft_Status</name>
        <label>Is Draft Status?</label>
        <locationX>442</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Draft</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Risk_Review_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Risk_Review_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_NA_Reviewer_into_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NA_Reviewer_assigned</name>
        <label>Is NA Reviewer assigned?</label>
        <locationX>582</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Error_NA_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>naReviewer_CurrentEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>naReviewer_CurrentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Email</targetReference>
            </connector>
            <label>Yes, is assigned</label>
        </rules>
        <rules>
            <name>Is_System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sysadmin_to_Na_Review_Email</targetReference>
            </connector>
            <label>Is System Administrator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Risk Review named  &apos; + {!Get_Risk_Review_Record.Name} + &apos; has been submitted successfully. You can check the information to proceed with the approval. &apos;</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Review Submit</label>
    <loops>
        <name>Iterate_Users</name>
        <label>Iterate Users</label>
        <locationX>1381</locationX>
        <locationY>54</locationY>
        <collectionReference>Get_User_By_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Users_into_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Notification_Info</name>
        <label>Get Notification Info</label>
        <locationX>57</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risks_Review_Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Review_Record</name>
        <label>Get Risk Review Record</label>
        <locationX>275</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Draft_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ampi__Risk_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Email</name>
        <label>Get User By Email</label>
        <locationX>1043</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>naReviewer_CurrentEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Review</name>
        <label>Update Risk Review</label>
        <locationX>878</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Risk_Review_has_been_Submitted_Successfully</targetReference>
        </connector>
        <inputReference>Get_Risk_Review_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Submiting_Message</name>
        <label>Confirmation Submiting Message</label>
        <locationX>1335</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;Are you sure you want to submit the Risk Review? After you submit, you won&apos;t be able to do any changes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Accept</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1566</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_msg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!error_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;You are not the NA Reviewer on this MA&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_NA_Review</name>
        <label>Error NA Review</label>
        <locationX>1129</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>extra_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!error_text}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_Assigned_NA_Review</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no NA Reviewer assigned to this MA or you are not the NA Reviewer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfully_Submitted</name>
        <label>Successfully Submit</label>
        <locationX>433</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reloading_to_refresh_actions</targetReference>
        </connector>
        <fields>
            <name>saved_message</name>
            <fieldText>&lt;p&gt;Your Risk Review was successfully submitted.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please refresh the browser to see the changes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Get_Risk_Review_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>error_text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;font-size: 14px; color: white; background-color: red; font-weight: bold; width: 100%; text-align: center; border-radius: 5px !important; &quot;&gt;Unsufficient Rights to Submit&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyRTE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Risk Review named&amp;nbsp; + {!Get_Risk_Review_Record.Name} +  has been submitted successfully. &lt;/p&gt;&lt;p&gt;You can check the information to proceed with the approval. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>count_Users</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NADirectorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Risk_Review_Record.National_Association__r.NA_Director__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>naDirectorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naReview_exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>naReviewer_CurrentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naReviewer_emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naReviewer_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naReviewer_users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
