force-app/main/default/flows/Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>ampi__Indicator__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ampi__Catalog_Indicator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Has Parent Indicator</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Description_Language_1__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Description_Language_1__c , [ampi__Project_Indicator__c].ampi__Description_Language_1__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_5934972818</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Description_Language_1__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Description_Language_1__c} , {!myVariable_current.ampi__Description_Language_1__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Description_Language_2__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Description_Language_2__c , [ampi__Project_Indicator__c].ampi__Description_Language_2__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_8596607202</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Description_Language_2__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Description_Language_2__c} , {!myVariable_current.ampi__Description_Language_2__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Description_Language_3__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Description_Language_3__c , [ampi__Project_Indicator__c].ampi__Description_Language_3__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A1_9431038067</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Description_Language_3__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Description_Language_3__c} , {!myVariable_current.ampi__Description_Language_3__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Description__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Description__c , [ampi__Project_Indicator__c].ampi__Description__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_4903108626</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Description__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Description__c} , {!myVariable_current.ampi__Description__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_1__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Disaggregation_Group_Language_1__c , [ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_1__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_1_A1_2424920466</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Disaggregation_Group_Language_1__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Disaggregation_Group_Language_1__c} , {!myVariable_current.ampi__Disaggregation_Group_Language_1__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_2__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Disaggregation_Group_Language_2__c , [ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_2__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_1_A1_2340543566</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Disaggregation_Group_Language_2__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Disaggregation_Group_Language_2__c} , {!myVariable_current.ampi__Disaggregation_Group_Language_2__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_3__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Disaggregation_Group_Language_3__c , [ampi__Project_Indicator__c].ampi__Disaggregation_Group_Language_3__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_1_A1_1001672030</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Disaggregation_Group_Language_3__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Disaggregation_Group_Language_3__c} , {!myVariable_current.ampi__Disaggregation_Group_Language_3__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Disaggregation_Group__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Disaggregation_Group__c , [ampi__Project_Indicator__c].ampi__Disaggregation_Group__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_1_A1_9129588724</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Disaggregation_Group__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Disaggregation_Group__c} , {!myVariable_current.ampi__Disaggregation_Group__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR([ampi__Project_Indicator__c].ampi__Exclude_From_IATI__c , [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Exclude_From_IATI__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_1_A1_8955884329</name>
        <dataType>Boolean</dataType>
        <expression>OR({!myVariable_current.ampi__Exclude_From_IATI__c} , {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Exclude_From_IATI__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK(TEXT([ampi__Project_Indicator__c].ampi__Geographical_Disaggregation__c )), TEXT([ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Geographical_Disaggregation__c ), TEXT([ampi__Project_Indicator__c].ampi__Geographical_Disaggregation__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_1_A1_6786007533</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myVariable_current.ampi__Geographical_Disaggregation__c} )), TEXT({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Geographical_Disaggregation__c} ), TEXT({!myVariable_current.ampi__Geographical_Disaggregation__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Guideline_Language_1__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Guideline_Language_1__c , [ampi__Project_Indicator__c].ampi__Guideline_Language_1__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_1_A1_6335106762</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Guideline_Language_1__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Guideline_Language_1__c} , {!myVariable_current.ampi__Guideline_Language_1__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Guideline_Language_2__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Guideline_Language_2__c , [ampi__Project_Indicator__c].ampi__Guideline_Language_2__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_1_A1_6476681386</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Guideline_Language_2__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Guideline_Language_2__c} , {!myVariable_current.ampi__Guideline_Language_2__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Guideline_Language_3__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Guideline_Language_3__c , [ampi__Project_Indicator__c].ampi__Guideline_Language_3__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_1_A1_2360570783</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Guideline_Language_3__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Guideline_Language_3__c} , {!myVariable_current.ampi__Guideline_Language_3__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Guideline__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Guideline__c, [ampi__Project_Indicator__c].ampi__Guideline__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_1_A1_3233909920</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Guideline__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Guideline__c}, {!myVariable_current.ampi__Guideline__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Notes__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Notes__c, [ampi__Project_Indicator__c].ampi__Notes__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_1_A1_9954561432</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Notes__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Notes__c}, {!myVariable_current.ampi__Notes__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([ampi__Project_Indicator__c].ampi__Number_of_Decimals_Places_Allowed__c) == &apos;0&apos;, TEXT([ampi__Project_Indicator__c].ampi__Catalog_Indicator__r.ampi__Number_Of_Decimal_Places_Allowed__c), TEXT([ampi__Project_Indicator__c].ampi__Number_of_Decimals_Places_Allowed__c))
                </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_1_A1_0289156361</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!myVariable_current.ampi__Number_of_Decimals_Places_Allowed__c}) == &apos;0&apos;, TEXT({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Number_Of_Decimal_Places_Allowed__c}), TEXT({!myVariable_current.ampi__Number_of_Decimals_Places_Allowed__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Red_Yellow_Threshold__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Red_Yellow_Threshold__c *100, [ampi__Project_Indicator__c].ampi__Red_Yellow_Threshold__c *100)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_1_A1_8279062884</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Red_Yellow_Threshold__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Red_Yellow_Threshold__c} *100, {!myVariable_current.ampi__Red_Yellow_Threshold__c} *100)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK(TEXT([ampi__Project_Indicator__c].ampi__Reporting_Frequency__c )), TEXT([ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Reporting_Frequency__c), TEXT([ampi__Project_Indicator__c].ampi__Reporting_Frequency__c ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_1_A1_0639212952</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myVariable_current.ampi__Reporting_Frequency__c} )), TEXT({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Reporting_Frequency__c}), TEXT({!myVariable_current.ampi__Reporting_Frequency__c} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Targets_Are_Disaggregated__c = TRUE) , TRUE, FALSE )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_1_A1_4358022110</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Targets_Are_Disaggregated__c} = TRUE) , TRUE, FALSE )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK(TEXT([ampi__Project_Indicator__c].ampi__Type_of_Results__c )), TEXT([ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Type_of_Results__c ), TEXT([ampi__Project_Indicator__c].ampi__Type_of_Results__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_1_A1_8637269557</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myVariable_current.ampi__Type_of_Results__c} )), TEXT({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Type_of_Results__c} ), TEXT({!myVariable_current.ampi__Type_of_Results__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_9532870281</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Units_Language_1__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Units_Language_1__c , [ampi__Project_Indicator__c].ampi__Units_Language_1__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_1_A1_0755112866</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Units_Language_1__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Units_Language_1__c} , {!myVariable_current.ampi__Units_Language_1__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Units_Language_2__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Units_Language_2__c , [ampi__Project_Indicator__c].ampi__Units_Language_2__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_1_A1_6685495598</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Units_Language_2__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Units_Language_2__c} , {!myVariable_current.ampi__Units_Language_2__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Units_Language_3__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Units_Language_3__c , [ampi__Project_Indicator__c].ampi__Units_Language_3__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_1_A1_3475429979</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Units_Language_3__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Units_Language_3__c} , {!myVariable_current.ampi__Units_Language_3__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Units__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Units__c , [ampi__Project_Indicator__c].ampi__Units__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_33_myRule_1_A1_0887069025</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Units__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Units__c} , {!myVariable_current.ampi__Units__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Validation_Range_Maximum__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Validation_Range_Maximum__c, [ampi__Project_Indicator__c].ampi__Validation_Range_Maximum__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_1_A1_6473781754</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Validation_Range_Maximum__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Validation_Range_Maximum__c}, {!myVariable_current.ampi__Validation_Range_Maximum__c}  )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Validation_Range_Minimum__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Validation_Range_Minimum__c , [ampi__Project_Indicator__c].ampi__Validation_Range_Minimum__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_35_myRule_1_A1_0467915372</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Validation_Range_Minimum__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Validation_Range_Minimum__c} , {!myVariable_current.ampi__Validation_Range_Minimum__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Yellow_Green_Threshold__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Yellow_Green_Threshold__c*100 , [ampi__Project_Indicator__c].ampi__Yellow_Green_Threshold__c*100 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_36_myRule_1_A1_7136140756</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Yellow_Green_Threshold__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Yellow_Green_Threshold__c}*100 , {!myVariable_current.ampi__Yellow_Green_Threshold__c}*100 )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK(TEXT([ampi__Project_Indicator__c].ampi__Calculate_Total__c )), TEXT([ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Calculate_Total__c ), TEXT([ampi__Project_Indicator__c].ampi__Calculate_Total__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9023858097</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myVariable_current.ampi__Calculate_Total__c} )), TEXT({!myVariable_current.ampi__Catalog_Indicator__r.ampi__Calculate_Total__c} ), TEXT({!myVariable_current.ampi__Calculate_Total__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR([ampi__Project_Indicator__c].ampi__Cross_Disaggregation_by_Sex__c , [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Cross_Disaggregation_by_Sex__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_7441223194</name>
        <dataType>Boolean</dataType>
        <expression>OR({!myVariable_current.ampi__Cross_Disaggregation_by_Sex__c} , {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Cross_Disaggregation_by_Sex__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR([ampi__Project_Indicator__c].ampi__Cumulative__c , [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Cumulative__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8430973241</name>
        <dataType>Boolean</dataType>
        <expression>OR({!myVariable_current.ampi__Cumulative__c} , {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Cumulative__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Data_Source_Language_1__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Data_Source_Language_1__c , [ampi__Project_Indicator__c].ampi__Data_Source_Language_1__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_3125972303</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Data_Source_Language_1__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Data_Source_Language_1__c} , {!myVariable_current.ampi__Data_Source_Language_1__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Data_Source_Language_2__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Data_Source_Language_2__c , [ampi__Project_Indicator__c].ampi__Data_Source_Language_2__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_3084898642</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Data_Source_Language_2__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Data_Source_Language_2__c} , {!myVariable_current.ampi__Data_Source_Language_2__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Data_Source_Language_3__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Data_Source_Language_3__c , [ampi__Project_Indicator__c].ampi__Data_Source_Language_3__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_8883689056</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Data_Source_Language_3__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Data_Source_Language_3__c} , {!myVariable_current.ampi__Data_Source_Language_3__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([ampi__Project_Indicator__c].ampi__Data_Source__c ), [ampi__Project_Indicator__c].ampi__Catalog_Indicator__c.ampi__Data_Source__c , [ampi__Project_Indicator__c].ampi__Data_Source__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_9499210622</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.ampi__Data_Source__c} ), {!myVariable_current.ampi__Catalog_Indicator__r.ampi__Data_Source__c} , {!myVariable_current.ampi__Data_Source__c} )</expression>
    </formulas>
    <interviewLabel>Test-2_InterviewLabel</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>New PB Indicator Field Values Onto Project Indicator</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ampi__Project_Indicator__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ampi__Project_Indicator__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Copy Indicator field values into Project Indicators fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Active?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Calculate Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Calculate_Total__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9023858097</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cross-Disaggregation by Sex</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Cross_Disaggregation_by_Sex__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_7441223194</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cumulative?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Cumulative__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8430973241</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Data Source Language 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Data_Source_Language_1__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_3125972303</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Data Source Language 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Data_Source_Language_2__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_3084898642</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Data Source Language 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Data_Source_Language_3__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_8883689056</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Data Source</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Data_Source__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_9499210622</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Indicator Definition Language 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Description_Language_1__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_5934972818</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Indicator Definition Language 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Description_Language_2__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_8596607202</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Indicator Definition Language 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Description_Language_3__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A1_9431038067</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Indicator Definition</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Description__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_4903108626</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Disaggregation Group Language 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Disaggregation_Group_Language_1__c</field>
            <value>
                <elementReference>formula_14_myRule_1_A1_2424920466</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Disaggregation Group Language 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Disaggregation_Group_Language_2__c</field>
            <value>
                <elementReference>formula_15_myRule_1_A1_2340543566</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Disaggregation Group Language 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Disaggregation_Group_Language_3__c</field>
            <value>
                <elementReference>formula_16_myRule_1_A1_1001672030</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Disaggregation Group</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Disaggregation_Group__c</field>
            <value>
                <elementReference>formula_17_myRule_1_A1_9129588724</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Exclude from IATI</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Exclude_From_IATI__c</field>
            <value>
                <elementReference>formula_18_myRule_1_A1_8955884329</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Geographical Disaggregation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Geographical_Disaggregation__c</field>
            <value>
                <elementReference>formula_19_myRule_1_A1_6786007533</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Guideline Language 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Guideline_Language_1__c</field>
            <value>
                <elementReference>formula_20_myRule_1_A1_6335106762</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Guideline Language 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Guideline_Language_2__c</field>
            <value>
                <elementReference>formula_21_myRule_1_A1_6476681386</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Guideline Language 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Guideline_Language_3__c</field>
            <value>
                <elementReference>formula_22_myRule_1_A1_2360570783</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Guideline</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Guideline__c</field>
            <value>
                <elementReference>formula_23_myRule_1_A1_3233909920</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Notes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Notes__c</field>
            <value>
                <elementReference>formula_24_myRule_1_A1_9954561432</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Number of Decimal Places Allowed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Number_of_Decimals_Places_Allowed__c</field>
            <value>
                <elementReference>formula_25_myRule_1_A1_0289156361</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>% Threshold Between Red and Yellow</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Red_Yellow_Threshold__c</field>
            <value>
                <elementReference>formula_26_myRule_1_A1_8279062884</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reporting Frequency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Reporting_Frequency__c</field>
            <value>
                <elementReference>formula_27_myRule_1_A1_0639212952</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Targets Are Disaggregated?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Targets_Are_Disaggregated__c</field>
            <value>
                <elementReference>formula_28_myRule_1_A1_4358022110</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type of Results</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Type_of_Results__c</field>
            <value>
                <elementReference>formula_29_myRule_1_A1_8637269557</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Units Language 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Units_Language_1__c</field>
            <value>
                <elementReference>formula_30_myRule_1_A1_0755112866</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Units Language 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Units_Language_2__c</field>
            <value>
                <elementReference>formula_31_myRule_1_A1_6685495598</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Units Language 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Units_Language_3__c</field>
            <value>
                <elementReference>formula_32_myRule_1_A1_3475429979</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Units</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Units__c</field>
            <value>
                <elementReference>formula_33_myRule_1_A1_0887069025</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Validation Range Maximum</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Validation_Range_Maximum__c</field>
            <value>
                <elementReference>formula_34_myRule_1_A1_6473781754</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Validation Range Minimum</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Validation_Range_Minimum__c</field>
            <value>
                <elementReference>formula_35_myRule_1_A1_0467915372</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>% Threshold Between Yellow and Green</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ampi__Yellow_Green_Threshold__c</field>
            <value>
                <elementReference>formula_36_myRule_1_A1_7136140756</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ampi__Project_Indicator__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Responsible Person</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Responsible Person.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>responsiblePerson__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_9532870281</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project_Indicator__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ampi__Project_Indicator__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Indicator__c</objectType>
    </variables>
</Flow>
