force-app/main/default/flows/Update_Agreement_Signed_Status_For_Standard_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Status_to_Agreement</name>
        <label>Set Status to Agreement</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Check_Agreements.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement signed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agreement_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agreement_exists</name>
        <label>Agreement exists?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AgreementId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Agreement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AgreementId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Check_Agreements.Id}) || ISBLANK({!Check_Agreements.Id}), &apos;0&apos;, &apos;1&apos;)</expression>
    </formulas>
    <formulas>
        <name>name_agreement</name>
        <dataType>String</dataType>
        <expression>&quot;Partnership agreement &quot; + {!$Record.Project_ID_Text__c}</expression>
    </formulas>
    <interviewLabel>Update Agreement Signed Status For Standard Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Agreement Signed Status For Standard Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Agreements</name>
        <label>Check Agreements</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreement_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Partnership agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement_recordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deliverable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement_Status</name>
        <label>Update Agreement Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Check_Agreements</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Process_Actions__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update Agreement Signed Status</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Process_Actions__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ampi__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agreement_recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123O000002OQC0QAO</stringValue>
        </value>
    </variables>
</Flow>
