force-app/main/default/flows/X1st_Notification_Location_Security_Risk_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_weekly_notification</name>
        <label>Send Emails weekly notification</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>body_text_days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_text</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Approver_to_Email_Collection</name>
        <label>Set Approver to Email Collection</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exists_Reviewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reviewer_to_Email_Collection</name>
        <label>Set Reviewer to Email Collection</label>
        <locationX>50</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contain_Emails</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2022-03-01</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Contain_Emails</name>
        <label>Contain Emails?</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calculate_Period</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails_weekly_notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Approver</name>
        <label>Exists Approver</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Exists_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_Approver</name>
            <conditionLogic>3 AND 4 AND 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_to_Email_Collection</targetReference>
            </connector>
            <label>Add Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Reviewer</name>
        <label>Exists Reviewer</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Contain_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Reviewer</name>
            <conditionLogic>3 AND 4 AND 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programme__r.Parent_MA__r.NA_Risk_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reviewer_to_Email_Collection</targetReference>
            </connector>
            <label>Add Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Today_Less_than_1st_of_March</name>
        <label>Today Less than 1st of March</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Today_Less_than_1st_of_March_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$System.OriginDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2022-03-02T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exists_Approver</targetReference>
            </connector>
            <label>Today Less than 1st of March</label>
        </rules>
    </decisions>
    <description>skip update record</description>
    <formulas>
        <name>body_text_days</name>
        <dataType>String</dataType>
        <expression>&apos;Dear User, this is the reminder message that Anual Refresh of Location Security Risk Assessment and National Security Context named &quot;&apos; + {!$Record.Name} + &apos;&quot; from &quot;&apos; + {!$Record.Programme__r.ampi__Parent_Geographical_Area__r.Name} + &apos;&quot; will need to be finished soon. Deadline: March 1st, You have:&apos; + TEXT({!Calculate_Period}) + &apos; days to go&apos;</expression>
    </formulas>
    <formulas>
        <name>Calculate_Period</name>
        <dataType>Number</dataType>
        <expression>{!EndDate} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>1st Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly Notification Location Security Risk Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Today_Less_than_1st_of_March</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>ampi__Risk_Register__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-02-02</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Email 1st</description>
        <name>body_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dear User, this is the reminder message that Anual Refresh of Location Security Risk Assessment and National Security Context will need to be finished soon. Deadline: March 1st, You have: 4 weeks to go</stringValue>
        </value>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notification_text_updated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.Email_Notification__c} + &apos;/&apos; + {!$Calculate_Period}</stringValue>
        </value>
    </variables>
    <variables>
        <name>subject_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Notification about Anual Refresh of Location Security Risk Assessment and National Security Context</stringValue>
        </value>
    </variables>
</Flow>
